[2014-07-31 20:36] mikesplain opened #1 "Latest versions of Openvas fail to come online"
Earlier, I attempted to upgrade Openvas and it's components to the latest versions.  Unfortunately, the web ui did not come back online.  I will have to dig in as to why.  The changes are in the develop branch.

[2015-01-28 17:19] #1 closed

[2015-01-28 17:20] mikesplain opened #3 "Working issue for OpenVAS 8.0 Beta"

[2015-01-28 17:20] #3 closed

[2015-01-28 19:58] mikesplain opened #5 "OpenVAS Checker no longer passes"
After update OpenVAS Checker no longer passes:

[code]

[2015-01-28 23:17] mikesplain commented on #5
Resolved in 0bc4029eb6ac6c3b6b8aa0e3cd86c29a2a759e58

[2015-01-28 23:17] #5 closed

[2015-02-07 02:57] mikesplain opened #12 "Add Serverspec tests"

[2015-02-18 23:03] tshrinivasan opened #17 "Dirb, arachni, nikto are not available in this docker image"
Dirb, arachni, nikto are not available in this docker image.

getting error messages like

Vulnerability Detection Result
Nikto could not be found in your system path.
OpenVAS was unable to execute Nikto and to perform the scan you
requested.
Please make sure that Nikto is installed and that nikto.pl or nikto is
available in the PATH variable defined for your environment.

Please add these to the

[2015-02-19 00:10] mikesplain commented on #17
Hi, can you explain to to replicate that error? I'll make sure to add them. Thanks!

[2015-03-03 16:49] mikesplain commented on #17
These have been added but I discovered an issue with Docker hub building these images. Fixing in #22 hopefully.

[2015-04-27 13:17] #17 closed

[2015-05-13 15:52] mikesplain opened #33 "Rebuild testing structure."
We need better tests since #32 removes much of what I had attempted.

[2015-05-13 15:52] mikesplain opened #34 "Add OpenVAS 8 build"
Add OpenVAS 8 and decide if we need to build and tag 2 sets of images.

[2015-06-25 03:09] zzbcoder opened #37 "openvas-scapdata-sync can't seem to finish"
[code]

openvas-scapdata-sync can't seem to finish . I wait all day long.

I run  "openvas-check-setup --v7" manually,

[code]

[2015-06-25 03:33] mikesplain commented on #37
What's in the tail of your docker log for that container?

There is certainly an issue that I've seen with the new version that may be causing this. I'm hoping to update to v8 shortly and change the way a bit of this runs.

[2015-06-25 04:47] zzbcoder commented on #37
[code]

openvas-scapdata-sync is too slow. Is it my network problem?

[2015-06-28 18:47] mikesplain commented on #37
Yes I would expect that's a network issue.  It's halfway through the download process.  This can take hours on a slow connection.

[2015-06-28 18:47] mikesplain commented on #37
Once I merge #38 you should also try that.

[2015-07-04 15:12] mikesplain commented on #37
Closing since I haven't heard back from you. Feel free to comment if you have any other issues.

[2015-07-04 15:12] #37 closed

[2015-07-14 08:22] adriaand007 opened #42 "Cant Access web interface of docker image"
Hi

I have followed the instruction to run openVAS in docker container
I cant seem to access the https port (443)
https://127.0.0.1

Please assist
Adriaan

[2015-08-14 13:21] mikesplain commented on #42
Hi @adriaand007, please post the log file for the container into either this post or a gist (removing any sensitive info).

[2015-08-27 19:33] siliconcow opened #44 "Creating a credential in the web interface breaks all further actions"
I can load the web interface but any change to create something like a target doesn't work, it just hangs forever.

Logs have:
gsad main:WARNING:2015-08-27 19h22.38 UTC:613: MHD: Failed to receive data: A TLS packet with unexpected length was received.
(repeating)

[Sat Jul 11 05:49:32 2015][38] openvassd 4.0.7 started
[Sat Jul 11 05:54:47 2015][347] Communication closed by client
[Sat Jul 11 05:5

[2015-08-27 19:46] #42 closed

[2015-08-27 19:54] mikesplain commented on #44
Hmm interesting.  Looks like the NVTs didn't load properly.  Can you confirm in the UI, click "SecInfo Management", then "NVTs".  I imagine it has 0 listed NVTs?

[2015-08-27 19:58] mikesplain commented on #44
Also what version of docker are you running?

[2015-08-27 20:04] siliconcow commented on #44
I'm running docker version 1.6.2...

I realize it was actually the first thing I did - creating a credential - which broke it.   I recreated the container and was able to add a target as expected.    It looks like openvas forked GPG which is having issues and seems to be hanging things.

[2015-09-03 00:59] #34 closed

[2015-09-04 14:04] mikesplain opened #58 "Consider switching to supervised"
Should considering using supervised to run services rather than silly bash files...

[2015-11-12 15:49] darioajr opened #69 "Error on Login Screen"
An error occurs when trying to log into the system

Error:
Login failed. OMP service is down.

How to fix it:
docker exec -it CONTAINER_ID bash
openvas-nvt-sync
openvasmd --rebuild
openvasmd

[2015-11-24 20:00] mikesplain commented on #69
Does this happen all the time or every time you start it up?

[2015-11-24 20:15] mikesplain commented on #44
I believe this was fixed in newer versions.  Not seeing an issue anymore.  Reopen if you experience it again.

[2015-11-24 20:15] #44 closed

[2015-12-03 16:35] ryanccarter opened #70 "Ohhhh jeeee: ... this is a bug (sexp.c:1340:vsexp_sscan)"
Receive this error upon first scan (just did the quick scan).

[2015-12-07 18:39] aphillipo commented on #58
Here is a supervisord config I found somewhere...

[program:openvassd]
autostart=true
command=/usr/local/sbin/openvassd -f
stdout_logfile = /var/log/dave/%(program_name)s.log
stderr_logfile = /var/log/dave/%(program_name)s.log
autorestart=true
startsecs=0

[program:openvasmd]
autostart=true
command=/usr/local/sbin/openvasmd -f
stdout_logfile = /var/log/dave/%(program_name)s.log
stderr_logfile = /v

[2015-12-15 15:08] mikesplain commented on #70
Can you provide more context and a full trace?

[2015-12-15 15:09] mikesplain commented on #69
Closing since no response.  Please repost if still an issue.

[2015-12-15 15:09] #69 closed

[2015-12-15 15:09] mikesplain commented on #58
@aphillipo Thanks!

[2015-12-18 14:52] mikesplain commented on #70
Please feel free to reopen if you can provide more details.

[2015-12-18 14:52] #70 closed

[2015-12-28 19:01] azimut opened #72 "Feature proposal: Set admin password on start with the value of an env variable"
This will make unnecessary login on the docker image to update the password manually.

[2015-12-29 22:51] mikesplain commented on #72
@azimut good request however the password is hard coded into the image as of now `setup.sh`. It's possible this could be moved to `start.sh` But would require some other changes. I'm open to a PR if you are interested, otherwise I'll take a look in a few days.

[2016-01-05 18:46] #72 closed

[2016-01-08 15:57] ayen-tibco opened #74 "Error when login to Openvas web ui"
This error happens when after submitting a scan task or just login to the webui of Openvas.

-Adam

Starting infinite loop...
Press [CTRL+C] to stop..
Ohhhh jeeee: ... this is a bug (sexp.c:1340:vsexp_sscan)

[2016-01-08 16:34] mikesplain commented on #74
@ayen-tibco I can't reproduce this. What is your command you're using to the container, and can you send the full log?

[2016-01-08 20:16] ayen-tibco commented on #74
docker run -d -p 443:443 -p 9390:9390 -p 9391:9391 --name openvas mikesplain/openvas

Could be I'm running it in virtualbox (Docker Toolbox for Windows)?

-Adam

[2016-01-11 16:15] mikesplain commented on #74
This could be related to windows but I'm still surprised.  Can you provide a full log of the output?

[2016-01-14 14:17] LeeBraddy opened #75 "Login failed. OMP service is down."
Using the mikesplain/openvas:latest build from 12-1-2016, build code bn5kzysjr2vlcbapjafkj8g

I start the container with:
`docker run -d -p 443:443 -p 9390:9390 -p 9391:9391 --name openvas mikesplain/openvas`

My load average reaches 11 while openvas initializes. When things settle down the container ends up in this state:
[code]

The GSA is up and at the login, entering 'admin' and 'openvas', GSA

[2016-01-14 15:22] LeeBraddy commented on #75
Here is my current log output for the container.

`docker logs openvas`

[code]

[2016-01-20 17:48] lphuberdeau commented on #75
We traced the issue down to a deprecated certificate signature problem with gnutls.

We have a working fork. However, we made a few additional changes for our own needs in the process, so it might not be easily backportable.

https://github.com/delvelabs/openvas-docker

The issue is mainly sha256 certificates no longer being supported, and gnutls being too outdated in ubuntu 14.04.

[2016-01-21 17:34] azimut opened #76 "Persistent volumes"
Test and document volumes for persistence of the reports.

[2016-01-28 08:03] zyrill commented on #75
Is work being done or should we move to delvelabs' version?

[2016-01-28 12:31] mikesplain commented on #75
This is being looked into. I want to avoid switching to the Ubuntu 15.04 image.  If anyone is interested in proposing a fix as well, I'm all ears.

[2016-01-28 15:16] #75 closed

[2016-01-28 15:17] mikesplain commented on #75
Thanks for your work  on this @lphuberdeau.  Please reopen if you all see other issues.  Just merged the fix and Docker hub is currently building.

[2016-02-04 20:37] falkowich opened #81 "No user created at deployment?"
Hi,

I deployed the image a few time to test it out if I'm doing things wrong.

But when the rebuild of rules is done I try to login to gsad webui, and no cigarr.

If I do a check of the installation with /openvas/openvas-check-setup
[code]

This fixes the problem..

Is this me doing stuff the wrong way, or a bug?

--
Regards Falk

[2016-02-04 22:15] mikesplain commented on #81
Ahh yes, looks like that was changed with the new release.  Looking into it now.

[2016-02-08 20:59] #81 closed

[2016-02-10 10:14] tatric commented on #75
Hi, I have found an issue with login in. I manually made a user with a pass word and it worked for me.
Error log:
[code]

[2016-02-10 13:53] mikesplain commented on #75
Please pull the new image. That log and commands have been removed to fix the above issue for now.

[2016-03-13 19:52] MogiePete opened #84 "sexp.c:1340:vsexp_sscan whiling scanning Windows Machine"
Pull the docker. Log in for the first time. Go to scan Windows Server and this is the error that immediately pops up.

Ohhhh jeeee: ... this is a bug (sexp.c:1340:vsexp_sscan)

Al

[2016-03-13 19:53] mikesplain commented on #84
Yeah I got that the other day as well. I found it occurs only when I scan IPs but DNS names don't give me this problem. Have you seen anything similar? Thanks!

[2016-03-24 17:19] MogiePete commented on #84
Mike,
I seem to only get this when I run it against a Windows machine with the DNS or the IP.

[2016-06-19 23:56] nisar-med opened #86 "Not scanning public/external IP"
I have tried scanning public IP addresses using greenbone security web interface and the scanner just finishes with an empty report and /var/log/openvas/openvasmd.log says the host is dead.

I can scan localhost without any problems. I am using boot2docker in Mac OS to run the docker image and it seems that it has something to do with openvassd configuration to allow scanning of external IP addres

[2016-06-20 11:17] #74 closed

[2016-06-20 11:20] mikesplain commented on #86
I've seen this a few times, could be the same as https://github.com/mikesplain/openvas-docker/issues/84. Can you provide the full log? Also, try to scan a public djs record before scanning an ip and let me know the results. Thanks!

[2016-06-20 12:33] nisar-med commented on #86
Pasting full log in the end of this message.

Found this post which is kind of related but applicable to older version.
http://www.backtrack-linux.org/forums/showthread.php?t=59874

Also is there a way to debug openvassd service? (log_whole_attack = yes already enabled), I think nmap is returning "host is dead". I tried google.com and it is taking forever at 1%.
$ docker exec -it openvas tail -f /

[2016-07-07 12:05] mrmueller opened #87 "verinice export 0Byte"
Hi, thanks for providing this image, it is very convenient  :)

Sadly, the exports for verinice (Verinice ITG & Verninice ISM) don't seem to work, they have zero content.

I suspect it is related to this bug report: http://wald.intevation.de/tracker/?func=detail&atid=220&aid=6754&group_id=29

could you add xmlstarlet and xsltproc to the dockerfile?

[2016-07-07 12:26] mikesplain commented on #87
Hi Martin!

You're quite welcome! FYI that link doesn't work for me.

If you'd like to open a PR I would gladly accept it, otherwise I might not get to looking at this till next week.

[2016-07-07 12:42] mrmueller commented on #87
they seem to use an untrusted certificate.

These are the essentials:
_**Genaue Beschreibung**
When you export a report as verinice-file, the file has 0Bits and is empty._
_**Datum: 26.02.2016 08:23
Sender: eero volotinen**
works for me, if xmlstarlet and xsltproc is installed in system._

I'll try to do a PR :)

[2016-08-11 02:13] jadacyrus commented on #86
I'm getting the exact same problem. Host OS is Ubuntu 15.10 Wily.

[code]

[2016-08-12 18:46] smaccona opened #88 "After starting scan, OMP service stops and user gets kicked out of Greenbone"
I am running the latest Docker build from 8 days ago:

[code]

On a brand new CentOS 7 host OS (it's a DigitalOcean droplet) I start it like this:

[code]

I wait until Docker top output looks like this:

[code]

At this point, I can log in with the default `admin` and `openvas` credentials. The first thing I do is change the `admin` password, and then I run a "quick scan" on an external site. The

[2016-08-14 22:44] mikesplain commented on #88
I'm seeing this as well.  This has been a prevalent issue for a bit.  I'm looking into what the issues are.  If others have been able to better diagnose, please post here as my time has been limited as of late.

[2016-09-09 23:24] sc-pulsion opened #90 "Changes"
Great work so far. Can I hopefully add something worthwhile? Please let me know.

https://github.com/sc-pulsion/openvas-docker/commit/99b4095f2ea9a918fa7505a0af739fd563eeff62

Initially I was annoyed when I ran the container then added a credential using Greenbone. I am running my Ubuntu 16.04 Docker Hyper-V VM on a Windows server 2012 R2 host if that makes any difference. It seems that GPG takes

[2016-09-15 17:39] mikesplain commented on #90
Hi @sc-pulsion, thanks for your feedback! I'm going to look into this a bit tomorrow and see what we can do.  I really appreciate you giving back to the project. I'd like to do a bit of testing with your work.

As you probably sensed, alot of this project was built up over time to make things "just work" so I'm always open to others suggestions and help!  I haven't heard of the GPG issue before so

[2016-09-16 09:57] sc-pulsion commented on #90
Hi @mikesplain thanks for getting back to me!

Please test all you can but can you try with my latest commit rather than the one I linked above? I have made quite a few changes again. You can see everything in the commit history.

I have also tested database persistence using my new build which seems to work fine so far at least, although much more testing is required. We only need to mount the da

[2016-09-23 11:14] sc-pulsion commented on #90
@mikesplain I've added a new branch today that also includes the w3af scanner.
https://github.com/sc-pulsion/openvas-docker/tree/enable_w3af_scanner_test
The only issue I have right now is that even though the scanner shows up in OpenVAS as a separate scanner, I don't get the option to use it when creating a new scan. Have you seen that behaviour before?

[2016-10-12 12:03] andyp888 opened #91 "Creating credentials"
On a fresh install of this image on docker, if I try to create a new credential via the GUI the browser just hangs and will never complete this task.  I have tried various solutions found on the internet to no avail.

[2016-10-12 12:05] sc-pulsion commented on #91
Are you running Ubuntu on Hyper-V by any chance?

Try run like this:

`docker run -v /dev/urandom:/dev/random -d -p 443:443 -p 9390:9390 -p 9391:9391 --name openvas mikesplain/openvas`

[2016-10-12 12:13] mikesplain commented on #91
@andyp888 are there any errors in the logs? @sc-pulson is right, I've seen odd behavior on different platforms with this image. I haven't been able to solve them. Most Linux based systems don't need the urandom mount however I've had issues with running actual scans on docker for mac.

Any more details to help us diagnose? E.g. Where you're running it, what version of docker?

[2016-10-12 12:13] mikesplain commented on #91
@sc-pulsion sorry for the typo!

[2016-10-12 13:34] andyp888 commented on #91
@sc-pulsion I am running Ubuntu 14.04 on a VM, not on Hyper-V though

@mikesplain I am running docker client 1.6.2.  One of the "solutions" I found online was to run the openvasmd --create-credentials-encryption-key command.  However I get the following error in the openvasmd.log file:

md  crypt:WARNING:2016-10-12 13h21.26 utc:271: error creating OpenPGP key 'OpenVAS Credential Encryption': Inapp

[2016-10-14 08:29] andyp888 commented on #91
I guess I can close this issue, for some reason leaving the credentials to generate eventually seems to work, and from then creating more credentials is fast.  It did take multiple hours for the first set of credentials to be created though.

[2016-10-14 08:29] #91 closed

[2016-10-25 03:34] tuhaolam opened #92 "FATA[0024] Tag latest not found in repository mikesplain/openvas"
I retry docker pull for many many times, but always the exception it raise above. Is it a networking problem? But I can access docker hub normally.

[2016-10-25 13:13] mikesplain commented on #92
I'll issue a rebuild to see if that helps.

[2016-10-25 13:40] mikesplain commented on #92
Works fine for me, have you tried pulling another container (e.g. redis) to ensure you're not having network connectivity issues yourself? Closing for now unless we discover a real issue.

[2016-10-25 13:40] #92 closed

[2016-11-07 07:08] svlasov commented on #88
To my experience, it happens only when the Docker host is a virtual machine - tried on VMWare and VBox. When running the container directly on Ubuntu laptop it doesn't happen. It's still unclear, whether the additional virtualization level somehow causes the problem, or it's just insufficient memory. BTW my laptop has 8G RAM, and largest VMWare image I tried until this point has "only" 2G.

[2016-11-07 14:12] svlasov commented on #88
Update: seems like the definitive difference across all the setups I tried is the Linux kernel version.
The issue happens consistently when running on Ubuntu 14.04 hosts (virtual or real) and doesn't happen consistently when running on Ubuntu 16.04 hosts (also both virtual and real).

[2016-11-08 10:02] pizzarabe commented on #84
I got this problem while scanning DNS names and Linux machines.
One of them was an ftp server the other was an http server. The httpd server was scanned before (with no problems).

 Don't know If this helps

[code]

[2016-12-20 02:12] #87 closed

[2017-01-10 05:55] saurav-sharan commented on #84
Any update on this one.

I am facing the same issue.

# cat /tmp/openvas-check-setup.log
openvas-check-setup 2.3.7
  Mode:  server
  Date:  Mon, 09 Jan 2017 12:55:57 +0000

Checking for old OpenVAS Scanner <= 2.0 ...
/openvas/openvas-check-setup: 172: /openvas/openvas-check-setup: openvasd: not found

Checking presence of OpenVAS Scanner ...
OpenVAS Scanner 5.0.7
Most new code since 2005: (C) 2015

[2017-01-14 06:52] berney commented on #58
I hear S6 is all the rage for containers, but then so is Alpine.

[2017-01-14 08:03] berney commented on #88
I'm hitting same issue... I'll update if I make any progress in determining what the cause is.

[2017-01-14 08:09] berney opened #97 "Default credentials not as documented"
I followed the README / Docker Hub notes, `docker pull ...`, `docker run ...`, wait for `gsad` process, when I go to login with admin/openvas I get a wrong password. I looked at `bin/start.sh` and I see it has: -

[code]

I grepped the logs for "Adding new admin user..." and I don't see that string. I run `openvasmd --get-users` and I see admin already exists, so because the user already exists th

[2017-01-20 16:37] #97 closed

[2017-01-21 17:07] mikesplain commented on #58
For now we'll use built in upstart.

[2017-01-21 17:07] #58 closed

[2017-01-21 17:10] mikesplain commented on #84
After spending countless hours trying to dig into this I got no where over the past year.  Yesterday I rebuilt the container on the new OpenVAS 9beta and ubuntu 16.04, which appears to work quite a bit better.  I've made this the `latest` and `9` tags, while the old image will remain as the `8` tag.  I encourage everyone who has had issues ( #88, #86) to give this new image a shot. It definitely n

[2017-01-22 11:04] aphillipo commented on #58
Even better 👍🏻

[2017-01-22 15:35] mikesplain commented on #58
And by upstart I meant systemd, as that's now the default in 16.04.

[2017-01-26 17:33] mikesplain commented on #84
Closing this as v9 appears to fix things. Please reopen if you rediscover the issue.

[2017-01-26 17:33] #84 closed

[2017-01-26 17:33] mikesplain commented on #88
This appears fixed with v9, please give it a try and reopen if you see more issues.

[2017-01-26 17:33] #88 closed

[2017-01-26 17:34] mikesplain commented on #86
I'm no longer seeing this after v9 so closing. Please reopen if you experience this again

[2017-01-26 17:34] #86 closed

[2017-01-27 10:55] andreaslang commented on #76
I gave this one a shot and for me it seemed to work keeping user settings by just creating a volume for /var/lib/openvas/mgr:

[code]

You just need to create the default user yourself

[code]

[2017-01-29 12:31] berney commented on #88
Tested v9 and it seems to be working fine.

[2017-01-29 14:13] mikesplain commented on #88
Great!

[2017-02-03 22:32] mikesplain commented on #76
Thanks for our help! I added support for this and documented it in the repo. Let me know if you have any issues!

[2017-02-03 22:32] #76 closed

[2017-02-06 09:29] udiromano opened #106 "Openvas manager management protocol"
Hi Mike!
I have openvas 8 install on another machine and after installation openvas manager is listening on port 9390 for management protocol xml commands.
I installed the openvas9 container successfully and the manager is running over there but does not listen on any port. Do you happen to know why?

Best regards,

Udi.

[2017-02-06 12:49] mikesplain commented on #106
Hi Udi,

Since openvas9 is running in docker you'll need to expose the port. Most people never used that so I removed it from the docs. When starting up the container, simply add `-p 9390:9390` as an argument, right after the port 4000 argument. This will forward the port to the severs port allowing you to access it.

[2017-02-06 16:06] udiromano commented on #106
Mike, thank you for the quick response. I know that i should export the port, the problem is that the openvasmd deamon does not listen on any port at all....

[2017-02-06 16:54] udiromano commented on #106
I have openvas8 installed. I compared /etc/init.d/openvas-manager in v8,v9 installation,
seems like DAEMON_ARGS="" environment variable in version 9 is empty unlike in version 8.

[2017-02-07 17:47] dec0dOS opened #107 "Error: received handshake message out of context"
Hi! I'm getting "Error: received handshake message out of context" in /var/log/openvas/gsad.log after startup.
[logs.txt](https://github.com/mikesplain/openvas-docker/files/758518/logs.txt)

Do you have any ideas about it?

[2017-02-09 09:39] udiromano opened #108 "Login failed. Waiting for OMP service to become available."
Hi,
I'm getting this message when trying to log in after running the openvas 9 docker container.
Do you happen to know what might be the problem?

[2017-02-09 10:08] udiromano commented on #107
Same problem here...

[2017-02-13 15:50] mikesplain commented on #107
Hmm how much memory do you have available? I've seen things like this when you're limiting docker's memory

[2017-02-13 15:52] mikesplain commented on #108
The container takes a bit to startup while it scans NVTs etc. As in the Readme, tail the logs and wait for `It seems like your OpenVAS-9 installation is OK`.  After you see that, the web ui should be accessible. To speed up this process, give the container more CPU and memory.

[2017-02-13 15:52] #108 closed

[2017-02-13 15:52] mikesplain commented on #108
Please feel free to reopen if you have more issues.

[2017-02-13 16:50] udiromano commented on #106
?

[2017-02-13 19:23] mikesplain commented on #106
Ahh gotcha. I never use that so you'd have to poke around at updating daemon args properly.  These packages are not built by me so I have little control of that. That said, if you figure out the right `DAEMON_ARGS` to expose the port, I'm happy to accept a PR or help you figure out how we can add it to the container.

[2017-02-14 10:39] udiromano commented on #106
I have just added this line to the Dockerfile before the start command:

RUN sed -i 's/.*DAEMON_ARGS=.*/DAEMON_ARGS=\"-a 0.0.0.0 -p 9390\"/' /etc/init.d/openvas-manager

[2017-02-21 06:06] lancelakey commented on #107
I see the same error. I've configured Docker for Mac with 12 GB of memory.

[2017-02-21 14:20] mikesplain commented on #107
@lancelakey can you provide your docker command to start the container and any logs?

[2017-02-21 16:52] udiromano opened #110 "Can't create slave with openvas 9"
`root@bf4c31c6aca5:/# omp -h localhost -u admin -w admin -i -X - << EOF

    <omp_response status_text="Bogus command name" status="400"></omp_response>`

Any idea why?

[2017-02-21 17:40] mikesplain commented on #110
What docker command did you use to start up your main server?

On Tue, Feb 21, 2017 at 11:52 AM udiromano <notifications@github.com> wrote:

[2017-02-23 06:34] udiromano commented on #110
I'm using a docker compose file:

`  ovas-manager:
    image: localhost:5000/openvas:latest
    ports:
      - "4000:4000"
      - "9390:9390"
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 10s
        max_attempts: 3
        window: 120s
      placement:
        constraints:
          - node.role == manager`

It should be th

[2017-02-23 10:37] udiromano opened #111 "Opens 8 - Report results page doesn't show vulnerability name"
Hey Mike,

I ran a scan with openvas 8.
I look at the scan report in GSA and see vulnerabilities OID instead of name

Here is an example:
http://imgur.com/a/dInT6

Any idea why?

Best regards,

Udi.

[2017-02-23 14:11] mikesplain commented on #111
Hi Udi,

Given the issues I've had with OpenVAS 8 and the lack of recent support for
it, I don't know. I would suggest giving 9 a go.

On Thu, Feb 23, 2017 at 5:37 AM udiromano <notifications@github.com> wrote:

[2017-02-25 19:39] mcree commented on #110
I believe the create_slave command has been removed from openvas 9 - it has been replaced with scanners. See: https://wald.intevation.org/scm/viewvc.php?view=revision&root=openvas&revision=26445

[2017-02-25 19:55] mcree commented on #110
@udiromano could you please share your composer file?

[2017-02-26 12:36] udiromano commented on #110
@mcree I'm sorry i wish i could but i'm not allowed to do so /: If you need help or guidance on specifics feel free to ask...

[2017-02-26 12:37] udiromano commented on #110
@mcree Have you managed to create a functional slave scanner?

[2017-02-26 12:38] udiromano commented on #107
I solved the problem, i've stopped the gsad service and ran it manually like so:
`/usr/sbin/gsad --listen=0.0.0.0 --port=4000 --mlisten=127.0.0.1 --mport=9390`
@mikesplain is there any chance you'll change the Dockerfile to support that?

[2017-02-27 14:53] udiromano opened #112 "Feature Request - Openvas9 with postgresql"
I know there was an option to build openvas 8 to work with postgresql instead of mysqlite.
I guess that the same is possible for openvas 9. It will be nice to have openvas9 docker image that support this feature.

[2017-03-07 02:20] ciphercodes commented on #106
@udiromano, replacing the daemon args fixes the omp issue but GSA login fails with "Login failed. Waiting for OMP service".

GSA login works again if I manually start openvasmd service. I now have two instances of openvasmd running.

`root@ABCD:/# ps ax | grep openvas | grep -v grep
    28 ?        Ss     0:07 openvassd: Waiting for incoming connections
   324 ?        S+     0:00 tail -F /var/log

[2017-03-14 19:31] rthiago opened #113 "Plugins missing on v9"
Why did you remove stuff like dirb, nikto and wapiti on version 9?

Thank you

[2017-03-14 19:38] mikesplain commented on #113
Simply to reduce the size since the container had to be rebuilt from
scratch. I'm open to adding them again and willing to accept PRs, I just
have haven't had time to add them back.

On Tue, Mar 14, 2017 at 3:31 PM Thiago Rafael Silva <
notifications@github.com> wrote:

[2017-03-16 15:02] rthiago commented on #113
Working on it

[2017-03-17 00:54] #113 closed

[2017-03-25 22:06] #111 closed

[2017-03-25 22:08] mikesplain commented on #112
I certainly would be open to this but as I personally don't need the scalability of postgres for OpenVAS, the chances of me getting the time to implement this are slim.  Feel free to open a PR if you figure it out, otherwise I'm marking this a Feature Request for future documentation. Thanks!

[2017-03-25 22:10] mikesplain commented on #90
Thanks for your additions. For now I'm going to close this as we've moved to OpenVAS 9.  Please reopen if you have any issues!

[2017-03-25 22:10] #90 closed

[2017-03-25 22:17] mikesplain commented on #106
Fixed in https://github.com/mikesplain/openvas-docker/pull/109

Please reopen if you see any issues!

[2017-03-25 22:17] #106 closed

[2017-03-25 22:18] mikesplain commented on #110
This is likely fixed in https://github.com/mikesplain/openvas-docker/pull/109 since `9390` wasn't exposed before.

Please reopen if you see any issues!

[2017-03-25 22:18] #110 closed

[2017-03-25 22:20] mikesplain commented on #107
@udiromano Can you try the new build once https://github.com/mikesplain/openvas-docker/pull/109 finishes building? That should fix it!

[2017-03-27 08:08] udiromano commented on #112
I'll work on it soon. I'll release it once it will be complete.

On Sun, Mar 26, 2017 at 1:08 AM, Mike Splain <notifications@github.com>
wrote:

[2017-03-28 13:56] DannyLee12 opened #121 "Client closing the connection? Can't connect to UI."
I cannot connect the UI through `http://localhost:443`
This may have somthing to do with the message in the logs:

[code]
I have encountered this same issue on two machines. Please tell me what I am doing wrong.
Full logs attached below.

[code]

[2017-03-28 13:57] mikesplain commented on #121
Hi @DannyLee12, thanks for the details. Are you sure you tried the correct address? It serves only on https: `https://localhost` and on whatever port you forward.

[2017-03-28 15:57] DannyLee12 commented on #121
I think so, running the container:
[code]
And trying to connect on https://0.0.0.0/ or https://localhost tells me the site cannot be reached.

Does everything else seem ok?

[2017-03-29 11:03] DannyLee12 commented on #121
Nevermind, I am indeed an idiot.

[2017-03-29 11:03] #121 closed

[2017-03-30 01:56] mikesplain commented on #107
Closing due to inactivity. Please reopen if you're still seeing issues!

[2017-04-05 14:34] kshelton opened #124 "smbclient missing from image"
Please add smbclient to the installed packages as this will allow the smb/cifs related plugins to function.

[2017-04-13 11:25] udiromano opened #125 "Manager doesn't start with the new openvas 9 image"
md   main:MESSAGE:2017-04-10 08h09.06 utc:742:    OpenVAS Manager version 7.0.1 (DB revision 184)
base gpgme:MESSAGE:2017-04-10 08h09.06 utc:743: Setting GnuPG dir to '/var/lib/openvas/openvasmd/gnupg'
base gpgme:MESSAGE:2017-04-10 08h09.07 utc:743: Using OpenPGP engine version '2.1.11'
md  crypt:MESSAGE:2017-04-10 08h09.07 utc:743: skipping unusable OpenPGP key A8C205BC7B6E8DD9
md  crypt:MESSAGE:

[2017-04-13 11:36] e-alfred opened #126 "Add documentation on how to update the feeds within docker container"
Hello,

it would be great to have documentation on how to update the feeds inside the container. In the "Feed Status" page I can only see this:

`Too old (13 days) - Please check the automatic synchronization of your system`

[2017-04-13 17:36] mikesplain commented on #125
Can you provide the command you used to run the container? I'm unable to replicate your issue without more details

[2017-04-13 17:39] mikesplain commented on #126
Hi @e-alfred, we certainly can add some docs here for that. For now, the best option is to pull down a new version of the container (we try to rebuild every few days to give you the latest), or follow the directions on the [OpenVAS site](http://www.openvas.org/openvas-nvt-feed.html).

[2017-04-13 17:40] mikesplain commented on #126
You should be able to run that command by exec'ing into the container like this if you're not familiar:
[code]

[2017-04-13 19:48] #124 closed

[2017-04-13 19:48] kshelton commented on #124
@mikesplain  Thanks!

[2017-04-13 19:53] mikesplain commented on #124
You bet, the build will probably take an hour or two but let me know if you have any issues!

[2017-04-17 13:21] mikesplain commented on #125
Hi @udiromano, can you provide any more details so we can help you out? What OS are you running docker on and what version of docker? I can see it's Manager version 7.0.1 which means you're running the v9 of the image as you mentioned however I will need more details to assist.

[2017-04-17 13:45] mikesplain commented on #125
Please provide full logs of the container as well:
[code]

[2017-04-17 13:46] mikesplain commented on #126
Hi @e-alfred did the above help accomplish what you needed? If so I'll add it to the docs but wanted to check back in first! Thanks!

[2017-04-20 13:32] mikesplain commented on #125
Closing due to inactivity. Please reopen if you can provide additional details.

[2017-04-20 13:32] #125 closed

[2017-04-24 13:10] John-doe2 opened #128 "Fail"

[2017-04-25 11:57] stafot opened #129 "Container fails to rebuild"
Returns exit code 4 due to invalid url `https://svn.wald.intevation.org/svn/openvas/trunk/tools/openvas-check-setup`

Tried two alternatives both worked.
1) `http://svn.wald.intevation.org/svn/openvas/trunk/tools/openvas-check-setup`
2) `https://raw.githubusercontent.com/jackl0phty/opschef-cookbook-openvas/master/files/default/openvas-check-setup`

[2017-04-25 12:57] mikesplain commented on #129
I'm unable to replicate this issue currently. I see that pages cert may have an issue but we had automated build run on docker hub a few hours ago without issue. I'm rerunning tests now.

[2017-04-25 13:35] stafot commented on #129
@mikesplain Sorry for this probably was a temporary problem. I retried again the link with `https` and worked. Sorry for any inconvenience caused. My only concern is that in first try i hadn't mark as safe the link on my browser. (which at some point did). So I will try to see if I can replicate it this way.

[2017-04-25 13:58] mikesplain commented on #129
@stafot Hey no worries! Thanks for reporting it. The master build I kicked off failed, it doesn't seem related but when I tested that URL a few times I did see some slowness. It may be flakey at the moment but it's still the documented URL for [openvas](http://openvas.org/setup-and-start.html).  Either way just browser testing your URL seems to be faster and more reliable.

[2017-04-28 07:18] carlmolemans commented on #126
for me it does not work. The command is updating, but the update is not available through greenbone. I guess we also need to trigger a database reload ?

[2017-05-02 18:32] #129 closed

[2017-05-02 18:33] #128 closed

[2017-05-02 18:35] mikesplain commented on #126
@carlmolemans Ahh yes that makes sense. Can you try running `openvasmd --rebuild --progress` as well after?

[2017-05-03 14:25] ybudimirov commented on #126
@mikesplain

Hi Mike!
[code]

Extras - Feed Status
Changed  from: Too old (15 days)
to: Too old (14 days)

It seems works. Thank you!

[2017-05-03 14:30] mikesplain commented on #126
Added! Thanks!

[2017-05-03 14:30] #126 closed

[2017-07-06 08:21] falkowich commented on #112
@udiromano Hi, did you have time to work on this? I am thinking of doing the same thing here :)
--
Regards Falk

[2017-07-28 06:17] alem0lars-yr opened #136 "User not setup (ERROR: No users found)"
When I start the docker container, the user isn't being setup, resulting in error:

[code]

I've found that in `start` script the instruction `  echo "Setting up user"` isn't being called so obviously the user is not present.

However, I've checked the `tasks.db` file (post-installation) and it is present.

Who creates `tasks.db`? Is it possible that we need to wait some time or move the check bel

[2017-08-07 16:07] rhuddleston opened #137 "Sign docker images on dockerhub"
$ export DOCKER_CONTENT_TRUST=1
$ docker pull mikesplain/openvas:9
Error: remote trust data does not exist for docker.io/mikesplain/openvas: notary.docker.io does not have trust data for docker.io/mikesplain/openvas

Any chance you could sign your images with notary for dockerhub?

[2017-08-07 16:22] roman-vynar commented on #137
It would be great if the image for a security tool in particular is signed.

[2017-09-04 13:23] rbhardwaj00 opened #138 "This site can’t be reached unexpectedly closed the connection."
Hi i manage to run openvas using your container and login but after i run a scan i get logged off and then i cant reach the url as i get This site can’t be reached ip...... unexpectedly closed the connection.

i tried this twice.

is there a reason why.

[2017-09-04 13:33] rbhardwaj00 commented on #138
here are logs :

root@docker-512mb-lon1-01:~# docker top openvas
UID                 PID                 PPID                C                                                                                                                                STIME               TTY                 TIME                CMD
root                2170                2153                0

[2017-09-04 13:34] rbhardwaj00 commented on #138
==> /var/log/openvas/openvasmd.log <==
event target:MESSAGE:2017-09-04 12h53.18 UTC:388: Target Target for immediate scan of IP 46.227.54.67 (a91ede1e-7d05-4c5c-a404-731d3cfa1509) has been created by admin
event task:MESSAGE:2017-09-04 12h53.18 UTC:388: Status of task  (b70a2a4c-cdc2-45a4-8d70-5ed6e9d1eebd) has changed to New
event task:MESSAGE:2017-09-04 12h53.18 UTC:388: Task Immediate scan of I

[2017-09-04 13:34] rbhardwaj00 commented on #138
==> /var/log/openvas/openvasmd.log <==
md   main:WARNING:2017-09-04 13h18.03 utc:37: accept_and_maybe_fork: failed to fork child: Cannot allocate memory

[2017-09-04 16:45] rbhardwaj00 commented on #138
i manage to fix this upgraded the ram to 2GB memory 2 CPU but issue is now when i scan i getting no results back after like 15 sec

[2017-09-05 12:43] mikesplain commented on #138
Hi @rbhardwaj00 I recommend between 2GB and 4GB and 2 CPU to run this.  Scans can take 10-15 minutes.

Once you start the scan, if you run `docker top <docker container id>` you'll be able to see all the scans it's doing.  The first is generally `nmap` which can take quite a while to scan all ports.

When you say "I get no results back" do you see an error or could it be just taking awhile?

[2017-09-05 12:46] rbhardwaj00 commented on #138
hi mike it just says finish nothing there after 13 seconds and says report
empty host might be dead but infact it alive as i tested it shows it on.

also i cant see option to export by pdf do i need to install anything?

On 5 September 2017 at 13:43, Mike Splain <notifications@github.com> wrote:

[2017-09-05 12:48] mikesplain commented on #138
@rbhardwaj00 can you try the ip vs the dns name of a host? I've seen this too but have been unable to diagnose.  Most likely you're experiencing an issue with OpenVAS, not the the container.

You should be able to export the report in the top left corner. I'm not able to spin up a server a the moment but we include all the required utils in the package for PDF creation.

[2017-09-05 13:00] rbhardwaj00 commented on #138
also mike does you container include SCAP and CERT. as your container didnt
mention that when i download it yesterday it said NVT 1 day ago but over 2
8 days ago .

On 5 September 2017 at 13:48, Mike Splain <notifications@github.com> wrote:

[2017-09-05 13:23] mikesplain commented on #138
@rbhardwaj00 Yes it includes this.

[2017-09-05 14:00] rbhardwaj00 commented on #138
mike how do you create additional  users to be able to login. with there own username pass on openvas interface.

[2017-09-08 11:13] #138 closed

[2017-09-13 03:52] idan89 opened #139 "cannot change web ui port 443"
I am not able to change the port 443 when running the command:

im already using the port 443 with nginx and Im having conflicts.
the only workaround I found was stopping nginx and re run the command.
would be great to access openvas web using another port instead of 443.

anyone?
thx

[2017-09-13 15:29] mikesplain commented on #139
Hi @idan89, you can change the port by changing the first `443`

[code]

[2017-09-15 23:49] #139 closed

[2017-10-05 10:42] excal04 opened #140 "Openvas scanner does not start"
Hi,

This is on the openvas 8 image, I think it is no longer maintained but it's still on the README. Feel free to close if the project is strictly moving to openvas 9 and kills support for OV8.

I'm getting errors with the `openvas-scanner` not even starting. I followed through the instructions in the README and everything went smooth except that `openvas-check-setup` warned me that OpenVAS Scann

[2017-10-25 00:12] mikesplain commented on #140
Hi @ excal04, thanks for checking in. We haven't maintained openvas 8 since 9 has been much more stable.  We'll update the docs!

Thanks

[2017-10-25 00:14] #140 closed

[2017-10-25 00:21] mikesplain commented on #137
That's a great suggestion, that said we use auto builds on docker hub.  As far as I know they don't support signing? If @rhuddleston or @roman-vynar has suggestions, I'm open to it.

[2017-11-08 15:40] Ondjultomte opened #142 "OVAL updates"
Does the docker version of openVAS use https://oval.cisecurity.org/repository/download  ?

when I checked the OVAL listen in openVAS thet all seemed very old.

[2017-11-22 11:35] roman-vynar commented on #137
Yea, it's not supported with auto-builds but as long as the releases are not often, it may be ok pushing by some other mean of automation.
From my side, I can provide the brief instructions how to achieve image signing using Docker Hub Notary. You would need to keep a copy of the keys and passphrases to use when pushing a new image.

[2017-12-01 04:54] ccsliinc opened #144 "Cannot install this docker"
Any idea what could be wrong?

[~] # docker pull mikesplain/openvas
Using default tag: latest
latest: Pulling from mikesplain/openvas
660c48dd555d: Pull complete
4c7380416e78: Pull complete
421e436b5f80: Pull complete
e4ce6c3651b3: Pull complete
be588e74bd34: Pull complete
39ba35499809: Pull complete
eb6c913ec15f: Pull complete
4f416fdac70d: Pull complete
2c95ef8672b3: Pull complete
a788e9bbe800:

[2017-12-01 13:38] mikesplain commented on #144
I believe this means you don’t have enough free disk space for this docker container. Free up some disk space and try again.

[2017-12-01 13:41] ccsliinc commented on #144
I checked, there are tb free, and over 90% inodes free.  Just wondering if you ever saw that before.

[2017-12-01 14:14] SyCode7 opened #145 "UI not available"
I have just pulled this image and started the container. According to the instructions,  http://<machine-name> should peovide the interface for the web ui, howeverr this is not the case. I also tried other combinations e.g. http://localhost, http://localhost:4000 ... there is no joy yet !! What could be wrong

I have the following messages in the log (openvasmd.messages)

`[Mon Mar  6 20:54:33 201

[2017-12-01 14:33] mikesplain commented on #145
Hi @SyCode7, in our docker command we mount the container to port 443 ( `-p 443:443`).  The ui should be accessible at https://localhost.  If 443 isn't available for you to mount to, you can do something like:

[code]
which will make your portal accessible at `https://localhost:8443`.

Please re-open if you have additional issues.

[2017-12-01 14:33] #145 closed

[2017-12-01 14:34] mikesplain commented on #144
I have not seen this issue.  Can you provide the output of `docker info`

[2017-12-01 15:43] ccsliinc commented on #144
[~] # docker info
Containers: 4
 Running: 4
 Paused: 0
 Stopped: 0
Images: 3
Server Version: 1.11.2
Storage Driver: devicemapper
 Pool Name: docker-252:0-171018248-pool
 Pool Blocksize: 65.54 kB
 Base Device Size: 10.74 GB
 Backing Filesystem: ext4
 Data file: /dev/loop2
 Metadata file: /dev/loop3
 Data Space Used: 2.18 GB
 Data Space Total: 107.4 GB
 Data Space Available: 105.2 GB
 Metadata Space

[2017-12-11 10:19] vishal2232 opened #146 "unable to connect with openvas"
command >>sudo docker run -d -p 443:443 -p 9390:9390 --name openvas mikesplain/openvas
output log>>

d8fe2d93b215df0230b6b393790e7d41a51ae5a3c8208c7db2ad946d682d3972
docker: Error response from daemon: driver failed programming external connectivity on endpoint openvas (2923ba0b96cc116bacb6b35f812d4ff0c8661a707091254227643bf589944bb4): Error starting userland proxy: listen tcp 0.0.0.0:443: listen:

[2017-12-11 10:23] vishal2232 commented on #146
Resolved..
after stopping apache2..

[2017-12-11 12:21] #146 closed

[2017-12-28 16:03] mikesplain commented on #144
@ccsliinc are you still seeing this issue? Please reopen if you are.

[2017-12-28 16:03] #144 closed

[2018-01-09 21:19] gvv90 opened #149 "openvas deploy into openshift v3.5"
Hi, Mike.

I'm getting this error during deploy on openshift.

I will describe the tasks I did:

1. Push docker image to my local repository.
2. Create a project in openshift with that image.
3. Create a persistent volume attached to /var/lib/openvas/mgr/.
4. Create a route to get the service. (Port 443 and 9390)

The pod is running but when I'm trying to connect to the console I can't. I'm gettin

[2018-01-09 23:06] mikesplain commented on #149
Hi @gvv90, can you provide some more details?

* Full log of the container running
* CPU and Memory allotment provided to the vm

Thanks!

[2018-01-10 15:39] gvv90 commented on #149
Here Is the information:

[root@localhost ~]# oc project openvas
Already on project "openvas"
[root@localhost ~]# oc logs openvas-2-x8324
Testing redis status...
Redis not yet ready...
Redis ready.
Checking for empty volume
Restarting services
* Restarting openvas-scanner openvassd
   ...done.
* Restarting openvas-manager openvasmd
   ...done.
* Restarting openvas-gsa gsad
   ...done.
Reloading NV

[2018-01-10 18:54] gvv90 commented on #149
I had created a route to acces openvas console:

[root@localhost ~]# oc describe route openvas
Name:			openvas
Namespace:		openvas
Created:		About an hour ago
Labels:			<none>
Annotations:		openshift.io/host.generated=true
Requested Host:		openvas-openvas.router.default.svc.cluster.local
			  exposed on router router about an hour ago
Path:			<none>
TLS Termination:	<none>
Insecure Policy:	<none>

[2018-01-11 06:45] chetanagrawal opened #150 "Failed to create credentials"
Hi, I tried lauching openvas9 docker container on Ubuntu 14.04 and CentOS7 and in both the cases I am facing issues while creating credentials. I get the following error:

 "An internal error occurred while creating a new credential. It is unclear whether the credential has been created or not. Diagnostics: Failure to receive response from manager daemon."

I checked the /var/log/openvas/openvasmd

[2018-01-18 19:52] jcostello84 opened #152 "Docker Image Is broken."
Hello @mikesplain!

First, thanks for such an awesome project. I really like it a lot! I wanted to give you a heads up that I pulled the latest mikesplain/openvas image from docker hub and it's broken. I cloned your repo locally and rebuilt the image, and everything works as expected, so I think that there might be a error which is failing silently in your build process. I have attached my logs fr

[2018-01-18 19:55] mikesplain commented on #152
@jcostello84 Odd, it's all automated so I'll kick docker hub to rebuild. Thanks for the report!

[2018-01-18 19:57] jcostello84 commented on #152
@mikesplain Awesome! Thanks for the quick response. If you message me when it's done, I'll gladly test it out for you right away.

[2018-01-18 20:00] mikesplain commented on #152
@jcostello84 Awesome thanks! It's building now, I'll let you know.

https://hub.docker.com/r/mikesplain/openvas/builds/b2cqxgrwzw2ndztlnj2ewqd/

[2018-01-18 20:13] jcostello84 commented on #152
@mikesplain That fixed it! Thanks.

[2018-01-18 20:13] #152 closed

[2018-01-23 16:24] biohazd commented on #150
i also have it failing to create credentials <create_credentials>, but mine just hangs there and never bring the command prompt back.   <get_credentials> works fine.

[2018-01-28 20:34] Fredus69 opened #153 "Difference between mikesplain/openvas & mikesplain/openvas:9"
Hello,

In the "Usage" section, there is this information :

"
# latest (9)
docker run -d -p 443:443 --name openvas mikesplain/openvas
# 9
docker run -d -p 443:443 --name openvas mikesplain/openvas:9
"

What is the difference between those 2 commands :
=> docker run -d -p 443:443 --name openvas mikesplain/openvas
and
=> docker run -d -p 443:443 --name openvas mikesplain/openvas:9

I tried both and

[2018-01-31 19:05] mikesplain commented on #153
Hi @Fredus69, there actually is no difference between them. Originally we had openvas version 8 and 9 so we would point `mikesplain/openvas` (also known as `mikesplain/openvas:latest`) at either 8 or 9 depending on the status of the openvas project. Since we have deprecated v9 support, we simply point it at 9.  Hope this helps!

[2018-01-31 19:06] mikesplain commented on #153
Please reopen if you have any other questions

[2018-01-31 19:06] #153 closed

[2018-02-01 13:27] arnydo opened #154 "Not Generating Reports"
Hi! I recently deployed two OpenVas containers to two separate machines and both don't seem to be generating reports.

I was able to run Wireshark and verify that the scanning was occuring and comms were going on but once complete there was nothing in the report.

I also replicated this on an old(er) instance of OpenVas and it did the same thing.

Any ideas of what I can check to see what is going

[2018-02-14 15:05] Noname2244 opened #155 "Docker container cant update/sync"
root@f990e6f42267:/# greenbone-nvt-sync
rsync: failed to connect to feed.openvas.org (89.146.224.58): Connection refused (111)
rsync: failed to connect to feed.openvas.org (2a01:130:2000:127::d1): Cannot assign requested address (99)
rsync error: error in socket IO (code 10) at clientserver.c(128) [Receiver=3.1.1]

from the host running docker

ping feed.openvas.org
PING dl.greenbone.net (89.146.2

[2018-02-19 17:15] ITMaya opened #157 "Default instance run with vulnerable cipher"
Running the tool against itself, i get the following vulnerability :
[code]
It seems to be fixable this way :
http://wiki.openvas.org/index.php/Edit_the_SSL_ciphers_used_by_GSAD
So,  unless i get it wrong, it would be good to default the container to this :)

[2018-02-20 15:09] mikesplain commented on #157
@ITMaya Thanks so much! I'm happy to accept a PR for this :)

[2018-02-21 08:43] konvergence opened #159 "SSL CIPHER too weak"
Hi Mike,

I tested the supported cipher by openvas, but these ciphers are too weak.
Do you plan to allow more secure cipher list ?

Here the current list of acceptable ciphers on openvas  :
[code]

[2018-02-21 14:11] mikesplain commented on #157
Hi @ITMaya Please take a look at this PR and see if it addresses your issue: https://github.com/mikesplain/openvas-docker/pull/156

[2018-02-21 14:11] mikesplain commented on #159
Hi @konvergence please take a look at this PR and see if it addresses your issue: https://github.com/mikesplain/openvas-docker/pull/156

This was just merged in and is in the process of being built and deployed.

[2018-02-21 17:12] konvergence commented on #159
Hi Mike,

I get well the new restricted ciphers :
[code]

But regarding to https://www.ssllabs.com/ssltest/analyze.html, it's steell to weak
[code]

Is it possible to allow the same ciphers with ECDHE or DHE mode ? for example   :
[code]

[2018-02-21 17:13] konvergence commented on #159
sorry I did'nt want to close

[2018-02-21 17:23] ITMaya commented on #157
I pulled the image, but i guess change did not yet make is way to the master.
So i applied the change manually to /etc/init.d/openvas-gsa and so far so good :D
Closing this one, thanks a lot, that was fast to get a solution :)
i'll pull a new image later on so as it will be embedded with the change.

[2018-02-21 17:23] #157 closed

[2018-02-26 13:50] naman opened #160 "Update README.md with NVT + CERT + SCAP database feeds"
According to t[his blog](https://sysadmin-ramblings.blogspot.in/2017/04/update-openvas-feeds.html), (have confirmed, it works) I think it would be safe to add the following code snippet for those who want to update all the three databases

[code]

[2018-03-05 23:38] lexfrei commented on #107
Same on the latest. Details in logs.
Logs and creation: https://gist.github.com/lexfrei/4d8f4b994eadf886720fb3d479908d5d
Container inspect https://gist.github.com/lexfrei/483a26da33cf2c46c8fdc3dd8d75031b

[2018-03-07 04:29] bahusvel opened #161 "Add socat to Docker image for "Send to host" alert option."
As the issue title says. Otherwise "Send to host" silently fails.

[2018-03-07 14:16] lexfrei commented on #107
@mikesplain I can't reopen this issue. Can you reopen it for me plz?

[2018-03-07 14:45] bjoernricks commented on #107
Are you still able to connect to gsad or is the connection refused? Which browser do you use when accessing gsad? The problem should be on the client side of gsad aka your browser see https://lists.gnu.org/archive/html/libmicrohttpd/2011-09/msg00003.html

[2018-03-07 15:51] lexfrei commented on #107
[code]

[2018-03-08 08:29] bjoernricks commented on #107
My bet is gnutls handles some tls stuff more strictly then others.

[2018-03-08 10:00] lexfrei commented on #107
Worked as expected: there is no http handling on https port. It's not friendly, but correct.

[2018-03-13 08:13] Noname2244 opened #162 "Cant update"
root@9d347a932612:/# greenbone-nvt-sync
rsync: failed to connect to feed.openvas.org (89.146.224.58): Connection refused (111)
rsync: failed to connect to feed.openvas.org (2a01:130:2000:127::d1): Cannot assign requested address (99)
rsync error: error in socket IO (code 10) at clientserver.c(128) [Receiver=3.1.1]

also ping isnt availble in the container.

[2018-03-14 05:19] tnt335 commented on #150
Same issue here, Openvas v9.  the error only occurs when I try to create cred with SSH.  Creating creds with username/password works fine

[2018-03-27 15:59] cvernooy23 opened #163 "openvasmd constantly not available"
After running the docker container, waiting for the updates, creating a user and then trying to login I just get "Login failed. Waiting for OMP service to become available."

root@8ac11cd3ad05:/# service --status-all | grep openvas
[code]

all services started using ./startup in the docker shell and openvas-check-setup passed with no errors

[code]

[2018-03-27 16:35] patruff opened #164 "Newbie looking for guidance"
Hi, I'm new to Docker and to OpenVAS so please keep that in mind. I have VirtualBox for Windows (8) installed and am using Docker through that. I'm able to get the image and things seem fine until I try to access the Web UI. I've looked into the machine's IP and it tries to connect but nothing (I don't think it's my firewall, but maybe that's the issue). I checked the logs (inside Bash on the Dock

[2018-03-29 13:55] patruff commented on #164
Nevermind, I needed to dedicate more memory to the process

[2018-04-04 19:12] christiangustafson opened #165 "OpenVAS startup errors when run via docker-java API automation"
I am working on a TaaS project automating FOSS test tools behind a RESTful service façade, using docker-java control APIs.  I'm seeing an error when I start the container with these APIs, versus the same request from a command-line call to Docker.

The OpenVAS container is happy to run from the command-line:
`docker run --rm -p 8151:9390 -p 8150:443 openvas:latest`

[code]

But when I automate thi

[2018-04-11 12:18] judihudi opened #166 "SCP Alert not working [incl. solution]"
Hi!

We wanted to export a report with SCP but we could not get it running.
Afer some research I found the solution here: https://joedsweb.wordpress.com/2017/02/23/openvas-using-the-alert-methode-scp/

The main issue is, that **sshpass** is not installed within the docker image.
Any chance that this could be added to the dockerfile so others have it easier setting it up as well (official documenta

[2018-04-12 18:16] npitsec opened #167 "web app is never available"
After launching the new docker container using the bare minimum arguments, I can never open the web-app as I see the following error:

The request contained an unknown or invalid Host header. If you are trying to access GSA via its hostname or a proxy, make sure GSA is set up to allow it.

The docker container seems to initialize ok. I see the installation successful message. The last set of messa

[2018-04-16 13:55] rassie opened #168 "No way to set --allow-header-host"
There is a new option in town: https://github.com/greenbone/gsa/pull/318. Apparently, it needs to be set to the actual hostname the container is getting accessed with. There is currently no way to do that: even when trying to hack environment variables (e.g. setting `LISTEN_ADDRESS` to `0.0.0.0 --allowed-header-host=my.example.com`) those settings are overridden by `service` command.

(that also m

[2018-04-16 16:26] boomshadow commented on #168
As a work-around, I added `--allowed-header-host=MY.IP.ADDRESS` to the daemon args and started OpenVAS again. This lets one get up and running to at least start scanning.

    docker exec -it openvas bash
    apt update && apt install -y vim
    vim /etc/init.d/openvas-gsa

Add your custom host or public-facing IP by changing this line:

    DAEMON_ARGS="--mlisten 127.0.0.1 -m 9390 --gnuu
tls-prio

[2018-04-16 16:30] rassie commented on #168
An easier workaround is defining a variable like I did above and restarting `gsad` with `/etc/init.d/openvas-gsa restart`. But it's manual work :(

[2018-04-20 16:02] #168 closed

[2018-04-20 19:46] mikesplain commented on #136
This should be resolved now. Please reopen if you still face this issue!

[2018-04-20 19:46] #136 closed

[2018-04-20 19:49] mikesplain commented on #142
We use whatever is shipped in the default version of openvas.

Please reopen if you have additional questions!

[2018-04-20 19:49] #142 closed

[2018-04-20 19:50] mikesplain commented on #149
This may be related to the hostname issue discussed here: https://github.com/mikesplain/openvas-docker/pull/169

[2018-04-20 19:52] mikesplain commented on #155
This should be resolved now. Please reopen if you still face this issue!

[2018-04-20 19:52] #155 closed

[2018-04-20 19:56] mikesplain commented on #154
The component that generates reports in PDF would be `latex`.  Do you have more details of what you're running into? Maybe a log would be helpful.  Thanks!

[2018-04-20 19:56] mikesplain commented on #160
@naman This should now be fixed via https://github.com/mikesplain/openvas-docker/pull/170

Thanks for the tips!

[2018-04-20 19:56] #160 closed

[2018-04-20 19:59] mikesplain commented on #162
Are you still facing this issue? You can install ping in the container by execing into it and `apt update && apt install iputils-ping` as normal.

[2018-04-20 20:00] mikesplain commented on #163
That's odd. How much memory and CPU is available for the container?

[2018-04-20 20:04] mikesplain commented on #164
@patruff Sorry for the delay, are you sure you're using https:// ? openvas creates it's own cert by default so you'll have to make sure you're on https.

[2018-04-20 20:15] mikesplain commented on #165
@christiangustafson That is very odd behavior. Sorry for the delay, have you had any success? I would suggest poking around services to see why they're missing...

[2018-04-20 20:29] #161 closed

[2018-04-24 21:59] reidrankin commented on #167
This seems to be caused because the `service` command strips most environment vars, including `PUBLIC_HOSTNAME`, so the `/etc/init.d/openvas-gsa` script doesn't use it as part of the `gsad` command line. I cooked up a workaround consisting of a two-line Dockerfile:
[code]
That works, so I've made PR #175.

[2018-04-24 22:04] reidrankin commented on #167
There is an associated issue I discovered with the /etc/init.d/openvas-gsa script; I'm not sure where to report that. Specifically, the /etc/default/openvas-gsa file doesn't get sourced until after the PUBLIC_HOSTNAME variable is already referenced. Patch:
[code]

[2018-04-25 00:02] #167 closed

[2018-04-25 00:55] reidrankin commented on #167
Upon further investigation it seems that this issue is actually the same thing as #168, and that the fix for that one committed in #169 didn't actually work without my fix in #175.

Also, I didn't realize that the line I had an issue with in the patch above wasn't actually from the upstream deb, but was added via sed in a RUN command in the Dockerfile added by #169. I've submitted #176 which super

[2018-05-01 11:33] Ondjultomte opened #177 "admin http interface cant be accessed after deplyment"
There is only this error message in the browser

`The request contained an unknown or invalid Host header. If you are trying to access GSA via its hostname or a proxy, make sure GSA is set up to allow it.`

Entering `gsad --allow-header-host "internal IP hos the host" ` in the openvas console doesnt help.
Got that tip from:
https://lists.wald.intevation.org/pipermail/openvas-discuss/2018-April/011

[2018-05-01 13:02] m-osmani opened #178 "Internal error: exec_omp_get"
Hello i get this error after start:

[code]

[2018-05-03 13:44] Noname2244 commented on #177
I have older installations that was updated and have the same problem now.

This docker is currently none functional.

[2018-05-05 14:57] gvv90 opened #180 "Importing pkcs12 file"
Hi, Mike.
I'm trying to scan an https service but I need to import the certificate to authenticate in my Datapower.
Do you know how to import a pkcs12(pfx file) file in openvas with command line?

Sincerily.

[2018-05-05 22:42] lanarchy commented on #177
Same issue here, new, fresh install

[2018-05-06 07:56] brianclemens commented on #177
I had the same issue.  I fixed it by adding the ALLOW_HEADER_HOST environmental variable to my docker-compose.
[code]
@Ondjultomte you were looking at the right thing, but you'd either want to set it as an environmental variable or edit /etc/default/openvas-gsad and restart the gsad service with `/etc/init.d/openvas-gsa restart`

[2018-05-06 22:05] lanarchy commented on #177
I was able to uncomment the ALLOW_HEADER_HOST and add in the IP I am serving it from and that worked.

[2018-05-10 02:08] boomshadow commented on #177
This is a duplicate of #168  A fix was already merged in.
You have to run the container while specifying the public-facing IP or hostname. This is in the project README:

    docker run -d -p 443:443 -e PUBLIC_HOSTNAME=myopenvas.example.org --name openvas mikesplain/openvas

[2018-05-11 06:58] Noname2244 commented on #177
I can login now but cant access the backend

![image](https://user-images.githubusercontent.com/34089487/39910855-6a303fa2-54f9-11e8-84cd-adf724106cdf.png)

[2018-05-11 07:10] Noname2244 commented on #162
:root /$ ping 89.146.224.58
PING 89.146.224.58 (89.146.224.58) 56(84) bytes of data.
64 bytes from 89.146.224.58: icmp_seq=1 ttl=50 time=38.7 ms
64 bytes from 89.146.224.58: icmp_seq=2 ttl=50 time=38.1 ms
64 bytes from 89.146.224.58: icmp_seq=3 ttl=50 time=38.3 ms
^C
--- 89.146.224.58 ping statistics ---
3 packets transmitted, 3 received, 0% packet loss, time 2002ms
rtt min/avg/max/mdev = 38.196/3

[2018-05-11 07:11] Noname2244 commented on #162
Ip connectivity is fine, still cant update tho

root@9d347a932612:/# greenbone-nvt-sync
rsync: failed to connect to feed.openvas.org (89.146.224.58): Connection refused (111)
rsync: failed to connect to feed.openvas.org (2a01:130:2000:127::d1): Cannot assign requested address (99)
rsync error: error in socket IO (code 10) at clientserver.c(128) [Receiver=3.1.1]
root@9d347a932612:/# greenbone-nvt-s

[2018-05-14 22:30] steorra1 opened #181 "any way to change public hostname on container without having to destroy"
Is there any way to change the PUBLIC_HOSTNAME variable on docker restart (..so I do not have to keep recreating my image)?  Some background:  I have my openvas docker instance running on an ec2 instance (yes, with the appropriate aws pen test auth in effect) but sooner or later, I'll have a situation where the instance will hang in such a way that locks me out of the instance and I'll have to att

[2018-05-16 13:17] hacker-h opened #182 "setting password via environment variable does not work"
Using the given example run command to set the admin password via environmental variable fails:
docker run -d -p 443:443 -e OV_PASSWORD=securepassword41 --name openvas mikesplain/openvas

Apparently the variable OV_PASSWORD is not read successfully, there might be a bug in the file "start".

[2018-05-22 11:58] yippeykeiyay opened #183 "No vulnerabilities being found"
I have run the basic `docker run -d -p 443:443 --name openvas mikesplain/openvas` command to start the container and made sure it fully up to date. However, none of my scans are returning any vulnerabilities.

I have setup a local metasploitable2 VM and scanned it, but still no vulnerabilities despite Nessus discovering over 100 vulnerabilities.

I'm a bit of a n00b - is there something I'm missin

[2018-05-23 11:27] yippeykeiyay commented on #183
To further test openvas I have now set it up in a Kali Linux installation and run a scan against my metasploitable VM. The openvas scan has found 14 high, 28 medium and 2 low vulnerabilities so clearly there is something wrong either with the docker image or my use of it.

[2018-05-24 10:47] yippeykeiyay commented on #182
Yep, same issue here.

[2018-05-24 10:59] Sopamo commented on #182
Until the issue is fixed you can set the password manually by executing

`openvasmd --user=admin --new-password=your_secure_password`

[2018-05-24 11:01] yippeykeiyay commented on #182
@Sopamo thank you!

[2018-05-24 12:13] yippeykeiyay commented on #183
Turns out I wasn't running openvas version 9. I assumed from the wording in the README that the command mentioned above would launch version 9, but I was wrong.

[2018-05-24 12:13] #183 closed

[2018-05-29 22:31] silentbreaksec commented on #162
Try it with curl instead of wget...that worked for me.

`greenbone-nvt-sync --curl --verbose`

[2018-05-31 11:15] Noname2244 commented on #162
That solved the NVT update , thanx!

[2018-05-31 11:17] Noname2244 commented on #162
Any other workaround for the other syncs?
greenbone-certdata-sync
rsync: failed to connect to feed.openvas.org (89.146.224.58): Connection refused (111)
rsync: failed to connect to feed.openvas.org (2a01:130:2000:127::d1): Cannot assign requested address (99)
rsync error: error in socket IO (code 10) at clientserver.c(128) [Receiver=3.1.1]

[2018-06-08 20:21] fabionitto commented on #182
Actually, the password on OV_PASSWORD is set only if the variable SETUPUSER is set.
So setting SETUPUSER=true should do it.
Only watch out because it takes a while for openvasmd to set the password, since its done only after NVT rebuild process, which takes a while.

On a side note to dev: could admin password be set from OV_PASSWORD variable, before NVT rebuilding?

[2018-06-13 11:27] giper45 commented on #178
Same for me, any advice?

[2018-06-14 13:14] RBlaine95 commented on #149
I'm currently trying to deploy this onto OpenShift Origin 3.9 and, so far, haven't gotten it to get past the `Rebuilding NVT cache` stage as it keeps restarting with no error log.

Here's the template manifest I'm using:
[code]
I run the deployment with an `openvas` Service Account which has the `privileged` Security Context Constraint, which allows the deployment to to host mount and use anyuid.

[2018-06-14 14:11] RBlaine95 commented on #149
Seems like it was the liveness/readiness probes that were breaking the deployment.
After I took them out I got an SSL error, it was the hostname environment variable.
Fixed by setting the hostname variable to the value of the ROUTE_HOST variable

[code]

[2018-06-14 14:58] RBlaine95 commented on #149
Is it really necessary for OpenVAS to rebuild the NVT Cache every time it gets run?
Is there any way to persist the NVT Cache so that it only gets run once?
How about multi-threading the process?

[2018-06-21 14:47] scaletechmaster opened #184 "Use own certificates"
Hi,
     is there any way to use my own domain certificates within the container? I could search and replace the pem files, I wonder if there is any smarter way (possibly in the entrypoint by passing any env values?)

thanks a lot in advance
fabio

[2018-07-02 23:23] ibrahemiat commented on #88
hello, I'm currently using openvas-9 in kali and its realy unstable the scanner stops after a period of time and refuses to start with "time out" error which is fixable but is persistent. Is there any newer better and more stable version? or a fix for the openvas-scanner? thank-you

[2018-07-04 13:27] answerz0r opened #185 "greenbone sync problem"
Please help me with greenbone-scapdata-sync and greenbone-certdata-sync i have reponse: Network is unreachable (101) and connection timed out (101) every time im trying to do that.
Im trying to do that because i have an error when trying to launch openvas on browser (SCAP and/or CERT database missing on OMP server).

only command greenbone-nvt-sync worked but with --curl --verbose (nothing more ca

[2018-07-04 20:58] fabionitto commented on #185
Have you checked your firewall?

[2018-07-05 13:17] answerz0r commented on #185
I have no firewall and i tried using internet from my cellphone hotspot and normal wifi or cable.
Errors:

root@kali:~# greenbone-scapdata-sync
rsync: failed to connect to feed.openvas.org (89.146.224.58): Connection timed out (110)
rsync: failed to connect to feed.openvas.org (2a01:130:2000:127::d1): Network is unreachable (101)
rsync error: error in socket IO (code 10) at clientserver.c(125) [Re

[2018-07-05 15:04] mikesplain commented on #185
I just tested and connectivity is working fine. This generally happens when there's an issue like a firewall (as @fabionitto mentioned above). I don't think this is our docker container's issue at the moment :(

[2018-07-06 07:02] answerz0r commented on #185
Tu ani you for answers. I will try what i can do nad i will lat you know what happens ;)

[2018-07-17 14:05] ethhack commented on #185
Currently receiving the following, and have been since last evening:

[root@scanner:~# greenbone-certdata-sync
rsync: failed to connect to feed.openvas.org (89.146.224.58): Connection refused (111)
rsync: failed to connect to feed.openvas.org (2a01:130:2000:127::d1): Network is unreachable (101)

[2018-07-18 12:42] riccardo-brazzale commented on #185
Hello,
I've a new installation on debian, syncing certdata and scapdata give me these errors:
rsync: failed to connect to feed.openvas.org (89.146.224.58): Connection timed out (110)s:
rsync: failed to connect to feed.openvas.org (2a01:130:2000:127::d1): Network is unreachable (101)
rsync error: error in socket IO (code 10) at clientserver.c(125) [Receiver=3.1.2]

[2018-07-19 02:51] birdi58 commented on #88
hi,
can you explain how it's fixable? Thanks.

[2018-07-23 13:54] rakeshzingade opened #188 "openvas on google kubernetes service accessed using internal load balancer"
I have deployed openvas on google container engine. I have created internal LB service to access its UI. I am able to access the UI login page but on login it shows me logged in successful & starts loading graphs. After few secs it redirects me to login page
again. With the message "Cookie missing or bad. Please login again."

Unable to figure out the issue.

Following are few traces:
gsad running

[2018-07-30 05:01] bappa92chakraborty commented on #140
Hey Hi, I am using openvas 9, but here also my scanner is not working can you please help me out.

Step 5: Checking OpenVAS CLI ...
        OK: OpenVAS CLI version 1.4.5.
Step 6: Checking Greenbone Security Desktop (GSD) ...
        SKIP: Skipping check for Greenbone Security Desktop.
Step 7: Checking if OpenVAS services are up and running ...
        OK: netstat found, extended checks of the Open

[2018-07-30 14:38] sicarii-13 commented on #188
chown 401 directory?

[2018-07-31 11:03] sicarii-13 commented on #177
Tried Boomshadows fix keep having this issue.

![image](https://user-images.githubusercontent.com/9999905/43456001-17c9a6c8-94c2-11e8-9dbd-617cd1d3c86b.png)
No clue why.

[2018-08-02 02:24] rmarathay opened #191 "Cannot access OpenVAS web server via port 443 on remote server"
I've followed the instructions in the README. The docker image works correctly on my local machine, however when I try to do the same to my digitalocean droplet, I run into issues. I've run what is on the README as well as run `docker run -p 443:443 -p 9390:9390 -e PUBLIC_HOSTNAME=<my ip address> --name openvas mikesplain/openvas` and it seems to start the container but when I navigate to <my ip a

[2018-08-02 13:33] mikesplain commented on #191
Hi @rmarathay are you navigating to it on 443 as https? https://localhost?

[2018-08-02 15:17] rmarathay commented on #191
Hi @mikesplain, thank you for reaching out. I have tried https and http on port 443 and 9390 with no luck.

[2018-08-02 15:18] mikesplain commented on #191
@rmarathay Can you post the logs for the container? It can take some time to startup.  Also what size droplet are you running?

[2018-08-02 15:27] rmarathay commented on #191
[code]

[2018-08-02 15:27] rmarathay commented on #191
![screen shot 2018-08-02 at 10 23 51 am](https://user-images.githubusercontent.com/11799143/43593964-b190903c-963e-11e8-8bdf-08fab6798c0c.png)

[2018-08-03 17:37] rmarathay commented on #191
@mikesplain Please let me know if that is an acceptable droplet size. Also, based on the log message, what are your thoughts?

[2018-08-04 00:08] bk5839 commented on #140
@bappa92chakraborty

Simply follow my steps it works for me

firstly go to

/var/cache and move the openvas directory to openvas-bak

now remove the openvas with the help of

yum remove -y openvas
and again install the openvas
yum install -y openvas
openvas-setup

now the openvas will works fine and good

reply in case u face any more problem

[2018-08-06 05:54] bappa92chakraborty commented on #140
Hey Hi,

Thank you so much for replying me back but I have faced this issue in Kali
Linux and I think this command is for Unix based OS, an even openvas-bak
folder is not there. I uninstall openvas and again install openvas, Here is
the error which I get according to command:

#openvas-setup

● openvas-scanner.service - Open Vulnerability Assessment System Scanner
Daemon
   Loaded: loaded (/lib/sy

[2018-08-06 15:01] BadFlo commented on #182
Still same issue. in start file, "IF" should be modified to allow password change after first start of container.

[2018-08-08 07:39] bappa92chakraborty commented on #178
Same for me also, please provide any solution.

[2018-08-21 17:27] mikesplain opened #195 "Move current container to allinone/classic build"
The original openvas-docker was built very dirty. We should keep this as an option but should upgrade the main container to stick to the 1 process per container idea, if possible. This is the first step.

Potential names:
* Classic
* Original
* Simple
* Full

[2018-08-21 17:28] mikesplain opened #196 "Reduce image size"
A spike to figure out ways to reduce image size / remove added features.

[2018-08-21 17:29] mikesplain opened #197 "Update and simplify docker-compose"
The current docker-compose is complicated and fulfills use cases that are wide for the average user.

Specific cases might need to be broken into an examples dir.

[2018-08-23 15:57] mikesplain opened #205 "Consider replacing arachni"
Consider https://github.com/Arachni/arachni/wiki/Installation

[2018-08-23 15:58] mikesplain opened #206 "Consider removing /start command from dockerfile"
We may want to not start up everything at build time to see if

- [ ] Things become simpler
- [ ] Container becomes smaller

[2018-08-24 22:02] ntnyc commented on #168
I installed today and modified /etc/default/openvas-gsa

# To allow <host> as hostname/address part of a Host header:
#
ALLOW_HEADER_HOST=my public IP

I **rebooted** and it works now.

[2018-08-30 16:34] #150 closed

[2018-08-30 16:34] #154 closed

[2018-08-30 16:34] #163 closed

[2018-08-30 16:34] #164 closed

[2018-08-30 16:34] #165 closed

[2018-09-01 14:34] #180 closed

[2018-09-01 14:34] #181 closed

[2018-09-09 16:28] alphaDev23 commented on #178
Same issue.

[2018-09-10 06:53] egerod opened #209 "Openvas Scanner 5.1.2 Hangs for Several Hours on Scans"
The docker image currently use Openvas Scanner 5.1.2, with contains a bug that causes scans to hang at 1% completion for several hours while consuming 100% CPU.

This bug have been fixed in 5.1.3, so updating to the new release should fix the issue.

Details:
- https://community.greenbone.net/t/community-feed-unusable/132

- https://github.com/greenbone/openvas-scanner/releases/tag/v5.1.3

[2018-09-13 09:34] #149 closed

[2018-09-18 13:45] ThijsdenBraver commented on #191
When I run the same size Droplet, I have no problems

[2018-09-19 10:07] J1mX commented on #178
Same here too...

[2018-09-19 15:34] #184 closed

[2018-10-01 20:11] boarnoah commented on #209
This explains whats going on, I spent a few hours thinking it was my local network.

I notice in the linked thread they mention that OpenVas on Kali's repositories is updated with the fix. Haven't had any luck getting it to work there myself. Did you by any chance check it out too @egerod ?

[2018-10-02 09:04] egerod commented on #209
@boarnoah no, haven't looked at fixing the current image, as I build an extra layer on the image, I was able to revert to an old image.

[2018-10-02 11:44] rowanruseler commented on #209
This is easily resolved:
[code]

should result in:
[code]

worked after that for me.

[2018-10-17 13:59] dbellavista commented on #209
Thank you very much! A rebuild should fix it, right @mikesplain ?

[2018-10-17 16:37] calve commented on #185
fwiw you can run both those scripts with `--refresh` arguments to avoid modifying it by hand

[2018-10-18 11:51] Lallassu opened #210 "Database issues when using persistent storage"
When configuring the container to mount /var/lib/openvas/mgr it starts to get a lot of database issues when fetching reports through OMP.

Running docker with:
    -v $(pwd)/openvas_data:/var/lib/openvas/mgr/
Produces the following when executing "<get_reports />" through the OMP protocol.
[code]

The directory is filled with the tasks.db etc.

Works fine when not mounting the persistent storage.

[2018-11-06 05:48] samos123 commented on #209
would be great if the docker image could get pushed with this latest patch. I seem to have hit the same isssue and the workaround worked fine.

[2018-11-06 09:43] YTS85205107 opened #212 "SMTP problem"
Hi , Everyone
I want to send a daily report mail , but I don't know what's OV_SMTP_KEY ?
Is it means smtpd.key ?

Thanks.

[2018-11-06 16:55] samos123 commented on #188
Facing the same issue although I'm just running the docker container on a GCP VM directly exposed through the host VM with no load balancer involved. So it seems to be an OpenVAS related issue.

[2018-11-20 16:48] pchamo commented on #162
This issue is still present. Only greenbone-nvt-sync works. The other two scripts fail:

[root@ovmgr]# greenbone-certdata-sync --curl --verbose
rsync: did not see server greeting
rsync error: error starting client-server protocol (code 5) at main.c(1648) [Receiver=3.1.2]

[root@ovmgr]# greenbone-scapdata-sync --curl --verbose
rsync: did not see server greeting
rsync error: error starting client-se

[2018-11-20 20:47] SyCode7 commented on #177
I still have this issue,is there a work around ? This is the error I see in the browser :  `The request contained an unknown or invalid Host header. If you are trying to access GSA via its hostname or a proxy, make sure GSA is set up to allow it.`

[2018-11-21 11:49] jmcarranza commented on #162
I'm behind a corporate proxy and I had to open TCP port 873 on our firewall, then set the environment variable RSYNC_PROXY=my-proxy:8080

[2018-11-21 13:09] pchamo commented on #162
It's not a firewall issue. It seems that only the NVT feed is available in the openvas demo version! Thank you.

[2018-11-21 13:21] jmcarranza commented on #162
I use the open source version and I can update all the feeds that way.

[2018-11-21 13:29] pchamo commented on #162
Look at this please:
[root@ovmgr ~]# telnet feed.openvas.org 873
Trying 89.146.224.58...
Connected to feed.openvas.org.
Escape character is '^]'.
Connection closed by foreign host.

But, doing a telnet to other server that has the rsync port open, the result is:

[user@server ~]$ telnet server1 873
Trying 172.xx.x.xxx...
Connected to server.xxx.xxx.xx (172.xx.x.xxx).
Escape character is '^]'.
@RSY

[2018-11-22 08:21] daniejstriata commented on #185
What port is needed to be open for the rsync? 873?

[2018-11-29 05:33] ilovesusu commented on #185
$cat /usr/bin/openvas-feed-update
#!/bin/bash
echo "Updating OpenVas Feeds"
greenbone-nvt-sync
greenbone-scapdata-sync
greenbone-certdata-sync --wget

it work

[2018-12-03 13:47] MyLike2018 opened #213 "How to config mail tool directly using External SMTP?"

[2018-12-03 13:49] MyLike2018 commented on #213
When I use Postfix to send email , It always show the error.
(lost connection with smtp.163.com[220.181.12.18] while receiving the initial server greeting)

[2018-12-06 23:18] #107 closed

[2018-12-10 09:55] meigea commented on #213
@MyLike2018 have you tried it sucess, chinese friend, you can connect me with email-actable@gmail.com; i can tell you more about openvas-deploy and some ways for using openwas

[2018-12-10 17:40] raffaeleguidi commented on #188
same issue here, I guess the problem is the container exposes https only and there's a problem in putting a reverse proxy in front of it with another layer of SSL. It would be so simpler if you could just switch HTTPS_OFF

[2018-12-11 15:34] yonisim opened #214 "Creating a thin openvas docker with no GUI"
Hello Mikesplain
Your openvas image is great.
Thing is i would like to have it as light-weight as possible.
I am working with the cli only so don't need the gui part which may be heavy.
Do you have any idea of how i could achieve that?

Thanks in advance

[2018-12-16 09:55] yonisim opened #215 "/core.* files are created constantly and removed, thus filling up machine's storage space"
Using opnvas:9 image with docker-compose
I see that /core.<some number> are created rapidly, each file weighs 80M.
The files are not getting cleaned and thus choking the machine's storage space .

[2018-12-18 14:51] mwild1 commented on #209
It looks like the image was updated with 5.1.3 and this issue can be closed :+1:

[2018-12-26 08:31] MikhailSinelnikov commented on #178
Bad product

[2019-01-14 15:55] stilliard opened #217 "Arachni issue: could not be found in your system path."
Hey,
I'm running with "Report broken arachni installation" and it's showing the following as the result of the "arachni (NASL wrapper)":

[code]

Is there anything I need to do to enable Arachni for this container?
Thank you.

[2019-01-14 15:57] stilliard opened #218 "Wapiti issue: wapiti report filename is empty."
Hey, i'm getting the following result from the "wapiti (NASL wrapper)":

[code]

Any ideas what might be causing this or any setup I need to run for wapiti to run?
Thank you.

[2019-02-02 17:51] kevinchugh commented on #185
`greenbone-scapdata-sync --wget` worked for me FWIW after getting the rsync connection refused error

[2019-02-08 17:45] isweluiz commented on #88
Hello,
I have this problem but I'm running openvas in virtualbox.
Can u explay how it's  problem fixable? Tks..

[2019-02-08 18:13] isweluiz opened #219 "Cluster openvas Master/Slave"
Hello everyone,
I’m build a cluster of openvas because I want more performance in my environment of type; each slave scan one sub net.

My project w’l be running on openshifit. I’m search in internet for some docker file ready for use, in this searching I found the architecture bellow .

(https://www.nopsec.com/wp-content/uploads/openvas-cluster_arch.width-800-600x496.png)

I’ve one question about

[2019-02-08 18:47] lundbergaj commented on #162
I had this problem with a recent install, and running the nvt update would work using --wget, but the scap or cert updates wouldn't work with anything I could find. Looking around, I found this discussion:
http://lists.wald.intevation.org/pipermail/openvas-discuss/2018-September/012190.html
The writer notes that at least for some machines, the update script connected to the server twice, causing i

[2019-02-16 04:20] #177 closed

[2019-02-16 04:20] #182 closed

[2019-02-22 16:23] qmontal commented on #178
Same issue :(

[2019-02-22 18:02] DavidHaltinner commented on #188
I found a workaround for now. I am using this in an OpenShift Kubernetes environment.

The issue lies in the source NAT'ing that the kubernetes service does, if you disable that source NATing by using a NodePort or a ExternalIP instead of the load balancer type, and you set externalTrafficPolicy: Local , it then works.

So in essence, the container should allow this source NATing somehow in order

[2019-02-28 11:01] rassie opened #220 "Only one PUBLIC_HOSTNAME can be specified"
If I'm not completely mistaken, it's possible to specify multiple `--allow-header-host` arguments on the daemon command line, which are then interpreted as array. This is currently not possible with the Docker image. A common use-case would be to support both FQDN and short DNS name, e.g. "openvas" and "openvas.mycompany.ltd".

[2019-03-04 18:19] #185 closed

[2019-03-13 13:07] cailen opened #221 "openvas-check-setup Links No Longer Exists"
It appears this link: https://svn.wald.intevation.org/svn/openvas/branches/tools-attic/openvas-check-setup no longer exists anymore, which is causing step 12 to fail.

[2019-03-18 05:20] #197 closed

[2019-03-18 05:20] #195 closed

[2019-03-18 05:20] #196 closed

[2019-03-18 05:20] #205 closed

[2019-03-18 05:20] #206 closed

[2019-03-18 05:20] #191 closed

[2019-03-18 05:20] #212 closed

[2019-03-18 05:20] #213 closed

[2019-03-18 05:20] #214 closed

[2019-03-18 05:20] #215 closed

[2019-03-18 15:19] #209 closed

[2019-03-19 01:32] hacker-h commented on #182
the issue is still present

[2019-03-19 09:03] kishoregurram opened #222 "The request contained an unknown or invalid Host header OpenVAS error"
Hi, I have followed the docker installation and configured the OpenVAS in it. Now when i try to access the console through browser, i am getting the error **'The request contained an unknown or invalid Host header. If you are trying to access GSA via its hostname or a proxy, make sure GSA is set up to allow it.'**

I have also tried re-installing the OS but still the issue remains the same. Help i

[2019-03-21 13:16] Syphontwo commented on #162
I added a sleep 5 to `greenbone-scapdata-sync` and `greenbone-certdata-sync` immediately after the line
[code]
unfortunately this had no effect.
[code]

As others reported, the NVT database connection works no problem.  One person mentioned that these databases are not available in the open source version, but another said it was.  Do we have any official word or documentation on the availability?

[2019-03-22 10:45] isweluiz commented on #162
I have the same problem

[2019-03-23 13:01] serhattsnmz opened #223 "Cannot Chage Admin Password"
I am trying to run openvas like that:

`docker run -d -p 443:443 -e OV_PASSWORD=securepassword41 --name openvas mikesplain/openvas:9`

But when try to login on `localhost:443`, password is still `admin`

Is it a bug or do I do something wrong ?

[2019-03-25 08:35] AndrewBedscastle opened #224 "Security issue Score 10.0 concering outdated Scan Engine / Environment (local)"
Reports say scan engine is outdated.
Can I fix this locally? Or does the container need an update
I tried an apt-get install openvas9-scanner inside an interactive bash but that gave me errors.
How can I check the installed version? How can I update it.

Installed GVM version:        9.0.2
Latest available GVM version: 9.0.3
Reference URL:                https://community.greenbone.net/t/gvm-9-sta

[2019-03-26 16:31] peppe249 opened #225 "Backend database"
This is more of a question than an issue. I know that openvas9 uses sqlite as a database, however I can not find it installed on the docker image. Could someone please explain where the results db is located?

[2019-04-01 12:16] adziubin commented on #222
try to add
PUBLIC_HOSTNAME: <domain name>
in docker-compose openvas environment

[2019-04-02 00:10] cailen commented on #221
#226

[2019-04-04 14:29] #221 closed

[2019-04-14 16:20] #218 closed

[2019-04-14 17:20] #217 closed

[2019-04-22 10:25] xaerowalk opened #230 "Dockerfile context"
[Dockerfile](https://github.com/mikesplain/openvas-docker/blob/master/9/Dockerfile)
[code]
What's the point of use two 'FROM' ?

[2019-04-22 12:34] mikesplain commented on #230
Openvas requires a few GB of data that gets synced during builds. By first copying that data, the sync goes much quicker and it speeds up our builds significantly.

[2019-04-22 16:23] #230 closed

[2019-04-24 14:26] cfi-gb commented on #224
https://github.com/Atomicorp/openvas/issues/7#issuecomment-479943352:

[2019-04-27 09:17] ksandermann commented on #188
Facing the same issue on a Kubernetes environment running on Vsphere. I came up with the same workaround of using a NodePort behind a HAProxy tcp-forward. This way Ingresscontrollers and tls-termination cannot be used.

[2019-05-08 17:30] sabueso commented on #188
Same issue here: it's easily reproducible pulling the atomicorp/openvas image, and exposing the container to 443 port.

[2019-05-09 18:20] #219 closed

[2019-05-10 09:31] konvergence opened #231 "allow LDAP_URI insead of LDAP_HOST"
Hi mikesplain,

It will more easy to allow LDAP_URI variable instead of LDAP_HOST
because, actually, the code into /master/9/config/ldapUserSync/ldapUserSync.py allow only ldaps on the defautl port 636.

if you allow to use LDAP_URI, we could use an URI like :
- ldap://yourldap:389
or
- ldaps://yourldap2:636

Regards

[2019-05-14 08:18] M1dor1ya opened #232 "Cannot access OpenVAS web server via port 443 on remote server"
I have met the same problem as this issue: https://github.com/mikesplain/openvas-docker/issues/191
I followed README to start a container with `docker run -d -p 443:443 -p 9390:9390 -e PUBLIC_HOSTNAME='my_ip' --name openvas mikesplain/openvas`,but it didn't work.
When i visit https://openvas_ip_address,i got an error msg:"The request contained an unknown or invalid Host header. If you are trying t

[2019-05-16 09:03] Kars-de-Jong commented on #224
I don't have this issue. Your container probably needs an update. Just pull it again.

[2019-05-18 11:46] liketop commented on #232
Same issue for me.
Seems like the webserver is not starting properly.
`curl 172.17.0.5:443
curl: (52) Empty reply from server`

[2019-05-19 13:23] joosept opened #233 "Synology NAS - docker?"
Should this work on Synology Docker also or what am i missing?
I am using the lastest Synology DSM and Docker app.
I have bridge network with firewall rules enabled, also my second conteiner for Unifi works.
Both local and container ports are set the same.
Openvas conteiner starts, but i cannot connect to it via Web, it wont open and the Log says:
Failed to parse client XML: Error on line 1 char 1

[2019-05-21 12:42] bannsec commented on #162
Bumping this to keep it open as it is still an issue.

On Tue, May 21, 2019, 7:20 AM fredairic[bot] <notifications@github.com>
wrote:

[2019-05-22 09:25] davorceman opened #234 "The latest version is 7.0.3?"
Hello, I just installed image mikesplain/openvas:latest and mikesplain/openvas:9, but when I logged in, or check version with cli, I noticed that 7.0.3 is installed.

How to install version 9?

[2019-05-23 17:20] #178 closed

[2019-05-29 11:20] #220 closed

[2019-05-30 20:41] cybermcm opened #235 "Reverse proxy with traefik not working"
I'm trying to get the container working behind a traefik reverse proxy. I managed to get it working with 443 -> 80 but this results in a warning message during logon. So my goal is to get it done by traefik port 443 -> openvas port 443.

compose:
[code]
currently the following error is reported in traefik:
[code]
Any ideas how to get this done (other containers working well behind reverse proxy)?

[2019-06-04 12:14] AndrewBedscastle commented on #224
You were right. That worked.
Dunno, why I did not try that :)
This issue can be closed.

[2019-06-04 12:14] #224 closed

[2019-06-21 14:20] #223 closed

[2019-06-22 23:56] hacker-h commented on #233
Please provide detailed outputs and describe the exact steps you made.
If Docker correctly runs on your system this like many other images should run as expected.

[2019-06-23 04:03] hacker-h commented on #182
/reopen

[2019-06-23 04:03] hacker-h commented on #182
/open

[2019-06-23 04:06] hacker-h commented on #182
/help

[2019-06-24 18:20] #225 closed

[2019-06-30 13:20] #222 closed

[2019-07-03 12:11] AnrDaemon opened #237 "Unable to login to the web interface of the container"
Container started, but does not accept default "admin:admin" login.

Host is Ubuntu 18.04
Docker version 18.09.5, build e8ff056
Started with command
[code]
Logs
[code]

[2019-07-04 08:22] snori74 opened #238 "On Installing, getting "/var/lib/openvas/scap-data/scap.db: no space left on device""
Following the README run:

`docker run -d -p 443:443 --name openvas mikesplain/openvas:9`

But get:

`docker: failed to register layer: Error processing tar file(exit status 1): write /var/lib/openvas/scap-data/scap.db: no space left on device.`

(a) There is plenty of disk space, but have no permission. Why is this needed for a container?
(b) Creating _/var/lib/openvas/scap-data/_ and giving full

[2019-07-08 07:36] moxli commented on #188
the problem still occurs

[2019-07-09 11:45] konvergence commented on #231
hi please don't close this request.
I can purpose a pull request if you want ….

[2019-07-10 14:58] githubjqh commented on #237
I have the same problem，“FIX: Run 'openvas-mkcert -f -q”，and when I run the command "openvas-mkcert -f -q", then get this "bash: openvas-mkcert: command not found"

[2019-07-10 15:10] githubjqh opened #239 "Cannot run "openvas-mkcert -f -q " command"
I start the container with command
`docker run -d -p 443:443 -p 9390:9390 --name openvas mikesplain/openvas`
and get logs
`Step 1: Checking OpenVAS Scanner ...
        OK: OpenVAS Scanner is present in version 5.1.3.
        OK: OpenVAS Scanner CA Certificate is present as .
dirname: missing operand
Try 'dirname --help' for more information.
        ERROR: No server certificate file of OpenVAS Sca

[2019-07-10 15:13] AnrDaemon commented on #237
For the record, I've "solved" it with `atomicorp/openvas:v9`.

[2019-07-14 14:49] Yogi-1999 commented on #140
openvas-scanner.service - Open Vulnerability Assessment System Scanner Daemon
   Loaded: loaded (/lib/systemd/system/openvas-scanner.service; disabled; vendor preset: disabled)
   Active: failed (Result: signal) since Sun 2019-07-14 20:08:52 IST; 124ms ago
     Docs: man:openvassd(8)
           http://www.openvas.org/
please solve this problem

[2019-07-20 13:21] bannsec commented on #162
Bumping as this is still an issue over a year later.

[2019-07-29 05:00] cybermcm commented on #235
Update: This was a config issue on my side.
In traefik.toml I had to set insecureSkipVerify = true as global option (put it in the upper section of the file), in my case I had that option in the docker section

[2019-07-29 05:00] #235 closed

[2019-08-12 08:44] maximemauro opened #240 "Run Openvas under subURI"
Hello,

I'm trying to run Openvas as a Docker service in a Docker Swarm cluster using Docker Flow Proxy (https://github.com/docker-flow/docker-flow-proxy).
To perform this, I would like to run Openvas under a sub-URI, but I see no options to be able to do it.

For exemple : mydomain.com/openvas would get me to the login page.
After login, I would like to be redirected to mydomain.com/openvas/omp

[2019-08-13 12:02] itsecforu opened #241 "[INFO] certificate file not found for domain example.com."
Hello folks!
All services started and running.
But I cant open OpenVas vie browser.
if I open with port 80 I see Nginx's start page.
with 443 it just doens't work.

letsencrypt logs:
`Using the staging environment,
[INFO] certificate file not found for domain example.com. Starting webroot initial certificate request script...,
Making a temporary self signed certificate to prevent chicken and egg p

[2019-08-15 14:59] boomshadow commented on #237
The issue seems to be related to the 3rd party script to check OpenVAS:
https://github.com/mikesplain/openvas-docker/blob/master/9/start#L100

That 3rd part script (https://github.com/kurobeats/OpenVas-Management-Scripts/blob/master/openvas-check-setup#L213) is unable to determine the CA File:

[code]

When I log into the running `mikesplain/openvas` container and run `openvassd -s`, that `ca_file

[2019-08-16 12:20] #232 closed

[2019-08-16 19:57] koenvervloesem commented on #239
In OpenVAS 9, the `openvas-mkcert` and `openvas-mkcert-client` commands have been replaced by `openvas-manage-certs`.

[2019-08-20 10:20] #234 closed

[2019-08-25 14:40] wokwong opened #243 "Cannot access port 80"
1) Cannot access port 80
2) container openvas logs:

Step 1: Checking OpenVAS Scanner ...
        OK: OpenVAS Scanner is present in version 5.1.3.
        OK: OpenVAS Scanner CA Certificate is present as .
dirname: missing operand
Try 'dirname --help' for more information.
        ERROR: No server certificate file of OpenVAS Scanner found.
        FIX: Run 'openvas-mkcert -f -q'.

 ERROR: Your Ope

[2019-09-04 13:42] gopherine commented on #112
did it complete ???

[2019-09-04 14:11] falkowich commented on #112
@gopherine Hi, Are you asking me, or @udiromano ?

[2019-09-04 16:34] gopherine commented on #112
@falkowich i was asking anyone :D who did it so if you did it i would appreciate some help here

[2019-09-10 19:47] vertoforce commented on #243
Same issue here

[2019-09-11 14:08] vertoforce commented on #237
Good find @boomshadow.  Thankfully the container still works without fixing this, but would be useful to find a fix.
Noting this issue here https://github.com/mikesplain/openvas-docker/issues/239, as it's related to not being able to run that command.

[2019-09-20 13:15] itsecforu commented on #188
Has anyone solved this problem?

[2019-09-20 14:07] DavidHaltinner commented on #188
I've been using my workaround for a few months. Switch the service to a NodePort, then set externalTrafficPolicy: Local
Don't bother with any router then. Connect straight to the node port.

I would still like to see an actual fix, but this workaround has been OK for my specific environment.

[2019-10-02 09:20] #238 closed

[2019-10-07 12:20] #231 closed

[2019-10-15 12:55] kshitij0704 opened #245 "not able to login from web interface. says cookie bad or missing"
when logging in with admin credentials, after login gsa immediately redirects to login page again sayin cookie bad or missing

[2019-10-16 17:31] PickingUpPieces opened #246 "Update to gvm 10 or gvm 11 planned?"
Just out of personal interest :)

[2019-10-18 14:20] #162 closed

[2019-11-08 16:20] #233 closed

[2019-11-10 09:20] #240 closed

[2019-11-11 12:20] #241 closed

[2019-11-14 17:19] juanluisbaptiste commented on #107
Hi,

I'm getting this error but when running this image behind a reverse proxy like traefik.

Maybe it has to do with the fact that the proxy is terminating ssl ? I'm using letsencrypt certs in the traefik proxy, so there's no need to run openvas with ssl enabled. How can I disable https on this image to see if that's the issue?

thanks/

[2019-11-14 20:20] #239 closed

[2019-11-15 14:43] nqb commented on #237
@mikesplain, do you will accept PR for this issue or openvas-docker will not be updated anymore ?

Thanks.

[2019-11-22 11:49] stewiem2000 commented on #162
I found through tcpdump'ing that, for example, greenbone-certdata-sync executes rsync more than once and, on our system/network at least, the next rsync-call's SYN gets received before the first's FIN/ACK comes back — thus the server probably thinks there are multiple connections from the same IP (which is blocked).  Simply adding a "sleep 1;" after (the error checking) of each/all rsync commands

[2019-12-08 02:10] pakoota commented on #162
Great.
Thanks.
Solved.

[2019-12-19 14:20] #188 closed

[2020-01-13 13:21] #245 closed

[2020-01-14 18:21] #246 closed

[2020-01-22 02:37] leandro92correia commented on #185
This problem is cause by NAT when you're using a virtual machine. This problem can be fixed by changing the network connection to "BRIDGE MODE".

[2020-01-27 13:21] baracoder commented on #234
Looks to me also that the latest version is 7.0.3 (both latest and 9 tags)
It says so on the Help -> About page

Version 7.0.3

[2020-02-13 23:34] #237 closed

[2020-04-27 11:15] hazcod opened #250 "Feature: reduce image size"

[2020-05-19 22:30] 2nutz4u opened #251 "Getting “Result: Report outdated Scan Engine / Environment (local)” reports"
I get the following report Result: Report outdated / end-of-life Scan Engine / Environment (local) after a scan.  I have deleted and rebuilt the docker image but the problem persist.
Similar issue reported here
https://community.greenbone.net/t/openvas-9-0-1-update-to-9-0-3-centos/1859

Thank you.

[2020-05-29 17:29] mrod23 commented on #251
Getting the same issue,
GVM needs to be updated
Seeing this in the every report:
Installed GVM Libraries (gvm-libs) version:        9.0.3
Latest available GVM Libraries (gvm-libs) version: 10.0.1
Reference URL(s) for the latest available version: https://community.greenbone.net/t/gvm-11-stable-initial-release-2019-10-14/3674 / https://community.greenbone.net/t/gvm-10-old-stable-initial-release-201

[2020-06-21 09:13] richardklein commented on #251
is there any update on this?

[2020-06-24 15:08] moxli commented on #188
Hey everyone,

I faced this issue once again (I already commented on this issue almost exactly one year ago^^).

I was able to find a solution for my specific problem. Hopefully this can help some of you.

First of all I would like to describe the root issue.

GSAD does verify the user based on the X-Real-IP header.
https://github.com/greenbone/gsa/blob/e1a59fcc6fc2d3aa16c890141d16b739c00a2a13/gsa

[2020-06-26 12:53] moxli commented on #107
@juanluisbaptiste you need to pass --http-only as a startup parameter to GSAD
I am not sure where to set it in this image.
https://www.mankier.com/8/gsad

[2020-06-26 14:41] iamjoeker commented on #250
The primary reason that the image is so large is that it contains all the data needed for scanning. IMHO, this is a _good_ thing. Otherwise, it would take significantly longer to spin up a new container as _all_ the data needed for scanning would have to be downloaded. Personally, I prefer for the image to contain the scanning data and be as up to date as possible so that I can launch a container

[2020-06-26 14:59] hazcod commented on #250
Fyi this still uses openvas 9 while 11 is available.

[2020-06-26 16:52] iamjoeker commented on #250
Correct.

[2020-06-29 02:14] frakman1 commented on #188
I just ran the docker run command on my Mac and have this same issue.
[code]
Modifying the gsad startup parameter `--ignore-x-real-ip` doesn't work. I still get this problem.

[2020-06-29 12:50] moxli commented on #188
I was not trying to say that disabling this option will fix the issue.

Setting the parameter (--ignore-x-real-ip) is more of a security setting.
The X-Real-IP header can be set by anybody and with this header it's way easier to hijack a users session.

If you steal someones sessions GSAD still checks the source IP of the user and the login will fail if the IP does not match.
By default GSAD will

[2020-06-29 13:17] frakman1 commented on #188
Thank you for the explanation. I understand the risk in normal situations with a Man In The Middle attack, but I don't understand why the error is happening in the first place in this case. The website is being accessed  from the same machine that the user was logged in from. This isn't the first time docker is used for a webapp and I've never seen this issue with other webapps, so what is the rea

[2020-07-01 05:31] frakman1 commented on #188
I went on to install openvas 9 on a fresh Ubuntu 18 and saw the same behavior. It comes and goes. It even happens with a fresh installation of Google Chrome so it's definitely some flakiness in the GSAD webpage component and not due to it being in docker.

[2020-07-02 14:05] mattdavenport commented on #251
It appears the latest version has been updated to 10, but the image is lagging behind in versions so the scanner is complaining.

[2020-07-04 16:05] frakman1 opened #252 "Version question"
I ran docker pull on images `mikesplain/openvas` and `mikesplain/openvas:9`  but they both result in containers that yield old versions (7 and not 9). How come?

[code]

The WebUI (gad) also shows version 7.0.3
![image](https://user-images.githubusercontent.com/5826484/86516438-88033880-bdee-11ea-9e60-ff88c01b523d.png)

![image](https://user-images.githubusercontent.com/5826484/86516449-981b1800-b

[2020-08-06 01:21] SecReXus opened #253 "There is a problem with HTTP access"
When visiting the page, you will be prompted as follows：
The request contained an unknown or invalid Host header. If you are trying to access GSA via its hostname or a proxy, make sure GSA is set up to allow it.

[2020-08-06 09:07] hughesjs commented on #185
I'm having the same problem, it seems to work after I run the command a number of times, I've checked my firewall and IIDS and neither of those are interfering. Any ideas?

[2020-08-26 15:50] kampfflunder commented on #251
Maybe it is possible to update GVM from within the container?
If so: how?

[2020-08-26 19:08] Basma1912 opened #254 "Cookie missing or bad. Please login again"
I am getting this Cookie missing or bad. Please login again , once i submit the username and password

[2020-08-28 03:10] iamjoeker commented on #251
Updating requires downloading and recompiling the updated components. I'm working on an alternative docker image including the latest version of everything. I will either share here or PR it once I've got it working acceptably.

[2020-08-28 04:19] wisoez commented on #253
![Screenshot_1](https://user-images.githubusercontent.com/10806362/91520778-51dec280-e920-11ea-8ae3-06935349c533.png)
Same issue!

[2020-08-28 04:26] wisoez commented on #253
![Screenshot_1](https://user-images.githubusercontent.com/10806362/91521113-23151c00-e921-11ea-8584-7978568efd78.png)
Same issue!
This is my docker run:
`docker run -d -p 443:443 -e ALLOW_HEADER_HOST=openvas.xxx.xx -e PUBLIC_HOSTNAME=openvas.xxx.xx -v $(pwd)/data:/var/lib/openvas/mgr/ -e OV_PASSWORD=xxx -e OV_SMTP_HOSTNAME=smtp.gmail.com -e OV_SMTP_PORT=587 -e OV_SMTP_USERNAME=xxx@gmail.com -e OV_

[2020-08-28 06:19] wisoez commented on #253
1. Access to container's bash: docker exec -it openvas bash
2. Open file: /etc/default/openvas-gsa (note: apt update -y && apt install vi vim -y)
`vim /etc/default/openvas-gsa`
3. Add this line:
`ALLOW_HEADER_HOST=PUT YOUR HOST NAME or IPADDRESS HERE`
4. Restart /etc/init.d/openvas-gsa restart
5. Check on browser.

[2020-08-28 16:37] mayantec commented on #251
Thanks in advance, we will wonder to try it out.

[2020-09-01 18:16] MarksenDE opened #255 "Newbie question"
I'm new on Docker and wanted to ask if it's possible to run this container on a Raspi 4 (arm64). Maybe a stupid question, sorry.

BR  Mark

[2020-09-19 00:25] #254 closed

[2020-09-25 20:18] mayantec commented on #251
Did You succeed?

[2020-10-01 13:56] xoroz commented on #252
Hi there,
I have the same issue.
There will be support for version 10 ?

[2020-10-01 13:57] xoroz commented on #251
let us know if there is a version 10 avail?

thank you

[2020-10-05 12:43] acosonic commented on #162
Same problem now...

[2020-10-06 05:17] acosonic commented on #162
Still no changes, tried curl, tried everything...

[2020-10-09 14:15] Power-G commented on #162
Me too...

[2020-10-15 23:31] dimazarno commented on #162
same here

[2020-10-21 11:54] MarksenDE commented on #162
Any update about this issue? I have the same problem ...

[2020-10-21 12:46] Sunnyvij commented on #162
It is not working with Curl or wget or just direct install greenbone .....
Try the other link : greenbone-nvt-sync --rsync  stil does not work  all they are saying on there support channel is to use rsync... Whats is the problem here ..

[2020-10-25 11:07] rforberger commented on #162
I think they changed the rsync mirror from feed.openvas.org to feed.community.greenbone.net. Not 100% sure though.
I just downloaded the most recent container image from hub.docker.com, but it looks like it's still using feed.openvas.org....

[2020-11-05 07:11] coumbisskante opened #256 "I had the same problem and this following page:https://sys-guard.com/post-18431/ helps me to resolve the Problem. It's in Japanese but you can translate into English. Like explained in the link, the prblem is from the files usr/sbin/greenbone-nvt-sync | greenbone-certdata-sync | greenbone-scapdata-sync. The link: feed.openvas.org is not available since 30 September 2020. The link will help you to change it into the new link.😊"

[2020-11-05 07:14] coumbisskante opened #257 "I think this one can help you😉"
I had the same problem and this following page:https://sys-guard.com/post-18431/ helps me to resolve the Problem. It's in Japanese but you can translate into English. Like explained in the link, the prblem is from the files usr/sbin/greenbone-nvt-sync | greenbone-certdata-sync | greenbone-scapdata-sync. The link: feed.openvas.org is not available since 30 September 2020. The link will help you to

[2020-11-06 16:14] stef97 opened #258 "how to change rsync feed"
RSYNC does not work because it is configured to use this feed feed.openvas.org

It does work though if we are using feed.community.greenbone.net

I tested by changing in the container using sed

Is there a variable similar with PUBLIC_NAME that can be used when building container ?
..or any other smarted way to deal with this ?
Thanks

[2020-11-10 17:30] larsnaesbye opened #260 "funkyfuture/deck-chores doesn't have `latest` tag"
funkyfuture/deck-chores has no `latest` tag on Docker Hub. Maybe the cron container should specify `funkyfuture/deck-chores:1` instead?

Currently the docker-compose fails because of this.

[2020-11-13 00:48] larsnaesbye commented on #260
@mikesplain is something you'd like to incorporate? :-)

[2020-11-17 14:40] mkopec3 commented on #162
It seems so. Solved it by:
`root@3b8d28ae4ccf:/# echo "45.135.106.142 feed.community.greenbone.net feed.openvas.org" >> /etc/hosts`

[2020-11-17 19:47] drwetter commented on #258
Hmm.. just stumbled over this too. feed.community.greenbone.net does use a CN which is wrong:

[code]

Anybody knows what is going on here?

[2020-11-17 20:01] drwetter commented on #258
see also #257

[2020-11-17 20:01] drwetter commented on #257
Thanks! Quickfix:

[code]

[2020-11-18 16:27] drwetter opened #261 "Update"
Hi @mikesplain,

any chance for an update?

After managing to update the feed URLs (see #257) the report is full of findings (for each host?):

![image](https://user-images.githubusercontent.com/8036727/99557689-405b0300-29c3-11eb-8236-9fa7e26e3880.png)

Cheers, Dirk

[2020-11-28 19:29] larsnaesbye commented on #261
I'd love to see this too.

[2020-12-05 19:28] jfortier commented on #162
@mkopec3 thanks so much, just realized my scanner has not been updating, when I went to find out why, just getting timeouts. I suppose if I upgrade the build this likely won't be an issue.

[2020-12-09 15:25] larsnaesbye commented on #260
@mikesplain if I make a PR would it get merged?

[2020-12-16 21:58] turkmenkaan commented on #250
It might be possible to reduce the image size by using a smaller base image than Ubuntu.

[2020-12-16 22:55] turkmenkaan opened #262 ""dirname: missing operand" error"
When I tried to run OpenVAS-9 with the command

`docker run -d -p 443:443 -p 9390:9390 --name openvas mikesplain/openvas:9`

I got the following error message

[code]

[2020-12-23 01:32] kukulkanos commented on #251
Done, for now:

docker run --name=openvas -d -ti -p 9443:9443 m4ch1n3s/openvas20
Wait for 10 minutes or 15 to get up to date, and then change the password
docker exec -ti openvas gvmd --user=admin --new-password=new_password

and go trow https://ip:9443

[2020-12-23 01:45] koonoh commented on #251
Thanks, works as expected.

[2021-01-19 05:13] zitstif commented on #162
@mkopec3  Thanks for that one liner!

[2021-01-21 13:00] nick-fox commented on #258
Add rsync feeds to your env.

[code]

I've tested this running the docker image https://hub.docker.com/r/mikesplain/openvas

[2021-02-12 06:18] infra-ray commented on #162
Thanks. It really helps me.

[2021-02-17 12:37] hugeps opened #263 "Update NVT feed location"
[https://community.greenbone.net/t/shutting-down-gcf-http-download/5339](https://community.greenbone.net/t/shutting-down-gcf-http-download/5339)

Community feed is now located here

feed.community.greenbone.net:

IP address: 2a0e:6b40:20:106:20c:29ff:fe67:cbb5
Legacy IP address: 45.135.106.142

[2021-04-09 11:03] plangeard commented on #252
Hi there,
It look there is no more update (last update 2 years ago).
Did you find another images ?

[2021-04-09 14:47] frakman1 commented on #252
I've been using version 11 from this docker location: `securecompliance/gvm:11.0.1-r3`

There are more recent tags/releases here:

https://registry.hub.docker.com/r/securecompliance/gvm/tags

[2021-04-10 16:50] #260 closed

[2021-04-14 03:25] oldunclez opened #264 "some "mistakes" with this docker image"
It seems that there are some mistakes with this docker image so far  .

The following mistakes  are  in script file  "/openvas-check-setup"  inside docker image

### Mistake 1:
The code `if [ ! -e $CAFILE ]`    does not work , it should be  `if [ ! -e "$CAFILE" ]`  .

### Mistake 2:

`openvassd -s` will not show out cafile  , so CAFILE is Null ,  but they are there (/var/lib/openvas/CA/) in fact .

[2021-04-20 15:53] SaraJ52 commented on #140
@bk5839  I was trying the solution you have told and I am having an error that says no such directory as "openvas" exists

[2021-04-20 15:56] SaraJ52 commented on #140
@bk5839

![image](https://user-images.githubusercontent.com/59283205/115427347-404f7100-a1b6-11eb-9c6b-5b60cba7cd24.png)

[2021-05-12 22:57] ramonchiara commented on #263
One way around this problem is to run `export COMMUNITY_NVT_RSYNC_FEED=rsync://feed.community.greenbone.net:/nvt-feed` before running `greenbone-nvt-sync´

So, @mikesplain might update this section in `README.md`:

[code]
**`export COMMUNITY_NVT_RSYNC_FEED=rsync://feed.community.greenbone.net:/nvt-feed`**
[code]

[2021-07-01 02:39] falconws commented on #260
@mikesplain @larsnaesbye This is fact.

[code]

https://github.com/mikesplain/openvas-docker/issues/260#issue-740104618
is right?
Why closed this issue?

[2021-07-01 06:33] larsnaesbye commented on #260
@falconws I closed my own issue because I gave up and found https://github.com/immauss/openvas instead.

[2021-07-07 09:34] stu93303148 opened #266 "Cannot update NVTs"
<img width="1002" alt="截圖 2021-07-07 下午5 34 20" src="https://user-images.githubusercontent.com/1113604/124736429-94fac080-df49-11eb-9152-3610e3e68d68.png">

[2021-07-07 22:28] ramonchiara commented on #266
@stu93303148, have you read https://github.com/mikesplain/openvas-docker/issues/263?
Please, verify if it helps.

[2021-07-13 06:37] stu93303148 commented on #266
Thanks your help. Updated success.

[2021-07-13 06:37] #266 closed

[2021-07-25 08:09] sailslack commented on #162
It worked for me too. Many thanks.

[2021-09-22 06:29] 740355215 commented on #162
Works well. Thank you !

[2021-12-28 02:54] makarov20211221 commented on #162
root@232289daebe0:/# echo "45.135.106.142 feed.community.greenbone.net feed.openvas.org" >> /etc/hosts
root@232289daebe0:/# greenbone-nvt-sync
rsync: failed to connect to feed.openvas.org (45.135.106.142): Connection refused (111)
rsync: failed to connect to feed.openvas.org (45.135.106.142): Connection refused (111)
rsync error: error in socket IO (code 10) at clientserver.c(128) [Receiver=3.1.1]

[2021-12-28 17:11] huornlmj commented on #263
Is @mikesplain still maintaining this?

[2021-12-30 12:34] costabh commented on #253
@wisoez if i wanted to open to everyone, i just put 0.0.0.0 or have another wildcard for this option?

[2022-01-28 13:34] ghostersk commented on #263
I just run the container with this:
        docker stop openvas && docker rm openvas

        docker pull mikesplain/openvas
        docker run -d -p 3344:443 -p 9390:9390 \
                -e PUBLIC_HOSTNAME=openvas.freebede.com \
		-e FEED="feed.community.greenbone.net" \
		-e COMMUNITY_NVT_RSYNC_FEED="rsync://$FEED:/nvt-feed" \
		-e COMMUNITY_CERT_RSYNC_FEED="rsync://$FEED:/cert-data" \
		-e CO

[2022-02-02 19:34] ImPerec777 commented on #162
Try to change ip to 45.135.106.143 :
`echo "45.135.106.143 feed.community.greenbone.net feed.openvas.org" >> /etc/hosts`

[2022-03-20 14:22] tuwid commented on #251
@kukulkanos can you give us the code for how you build this?
I wouldn't run a security scanner with my keys with an untrusted image from the internet

[2022-03-20 16:31] kukulkanos commented on #251
@tuwid Here is a bunch of files I've rescued from my build machine, you have to provide the downloadables, because if I provide so, will loose the purpose of building a trustable image.
Put all the files in the source folder that is not existent, also the initial feeds if you want to save some time, because is not the same update than download for the very first time (in the feeds folder, non exis

[2022-03-20 16:43] tuwid commented on #251
Thank you sir!

[2022-04-13 11:46] CoffeeNData commented on #264
This.
I get the error referenced in #262 . Im still trying to figure out a workaround.

[2022-05-11 14:41] ddadsx commented on #237
Managed to solve this running `openvasmd --new-password admin --user admin` inside the container.

[2022-07-11 02:35] makarov20211221 commented on #263
Thank you ramonchiara, perfectly solved this problem

[2022-07-27 14:25] bjoernricks opened #271 "Deprecate mikesplain/openvas-docker"
Hi,

first of all thanks a lot for providing this container image to the community for so many years!

Unfortunately it didn't get any updates for our newer releases and it is still on OpenVAS 9. This release is completely unsupported and outdated since some years already.

We provide containers directly build from the source code repos at GitHub (see https://hub.docker.com/u/greenbone) and a comp

[2022-10-23 07:39] dreddsa5dies commented on #263
You can also edit the configuration file in the container itself according to the [method](https://debugah.com/solved-fsync-failed-to-connect-to-feed-openvas-org-89-146-224-58-25262/)